DEFAULT_OPTIONS

LEVEL               THREAD
UNITS               NANOSEC
LOOK_BACK           100
SPEED               1
FLAG_ICONS          ENABLED
NUM_OF_STATE_COLORS 1000
YMAX_SCALE          37


DEFAULT_SEMANTIC

THREAD_FUNC          State As Is


STATES
0    Idle
1    Running
2    Not created
3    Waiting a message
4    Blocking Send
5    Synchronization
6    Test/Probe
7    Scheduling and Fork/Join
8    Wait/WaitAll
9    Blocked
10    Immediate Send
11    Immediate Receive
12    I/O
13    Group Communication
14    Tracing Disabled
15    Others
16    Send Receive
17    Memory transfer


STATES_COLOR
0    {117,195,255}
1    {0,0,255}
2    {255,255,255}
3    {255,0,0}
4    {255,0,174}
5    {179,0,0}
6    {0,255,0}
7    {255,255,0}
8    {235,0,0}
9    {0,162,0}
10    {255,0,255}
11    {100,100,177}
12    {172,174,41}
13    {255,144,26}
14    {2,255,177}
15    {192,224,0}
16    {66,66,66}
17    {255,0,96}


EVENT_TYPE
6    40000033    Executing CPU


EVENT_TYPE
6    40000001    Application
VALUES
0      End
1      Begin


EVENT_TYPE
6    40000003    Flushing Traces
VALUES
0      End
1      Begin


EVENT_TYPE
6    40000002    Trace initialization
VALUES
0      End
1      Begin


EVENT_TYPE
6    40000036    Process IDentifier
6    40000037    Parent Process IDentifier
6    40000038    fork() depth


EVENT_TYPE
7  42000050 (PAPI_TOT_INS) Instr completed
7  42000059 (PAPI_TOT_CYC) Total cycles
7  42001041 (RESOURCE_STALLS:ROB) Resource related stall cycles, masks:Cycles stalled due to re-order buffer full
7  42001042 (RESOURCE_STALLS:MXCSR) Resource related stall cycles, masks:Cycles stalled due to the MXCSR register ranme occurring too close to a previous MXCSR rename
7  42001043 (ARITH:FPU_DIV_ACTIVE) Counts arithmetic multiply operations, masks:Cycles that the divider is active, includes integer and floating point
7  42001044 (BACLEARS) Branch resteered
7  42001038 (RESOURCE_STALLS:LB) Resource related stall cycles, masks:Cycles stalled due to lack of load buffers
7  42001039 (RESOURCE_STALLS:RS) Resource related stall cycles, masks:Cycles stalled due to no eligible RS entry available
7  42001040 (RESOURCE_STALLS:SB) Resource related stall cycles, masks:Cycles stalled due to no store buffers available (not including draining from sync)
7  42001035 (RESOURCE_STALLS:FCSW) Resource related stall cycles, masks:Cycles stalled due to writing the FPU control word
7  42001036 (RESOURCE_STALLS2:BOB_FULL) Resource related stall cycles, masks:Cycles Allocator is stalled due Branch Order Buffer
7  42001037 (RESOURCE_STALLS2:OOO_RSRC) Resource related stall cycles, masks:Cycles stalled due to out of order resources full
7  42000063 (PAPI_L2_DCH) L2D cache hits
7  42000105 (PAPI_VEC_SP) SP Vector/SIMD instr
7  42000106 (PAPI_VEC_DP) DP Vector/SIMD instr
7  42001034 (RESOURCE_STALLS) Resource related stall cycles
7  42000053 (PAPI_LD_INS) Loads
7  42000054 (PAPI_SR_INS) Stores
7  42000055 (PAPI_BR_INS) Branches
7  42000042 (PAPI_BR_UCN) Uncond branch
7  42000043 (PAPI_BR_CN) Cond branch
7  42000046 (PAPI_BR_MSP) Cond br mspredictd
7  42000000 (PAPI_L1_DCM) L1D cache misses
7  42000002 (PAPI_L2_DCM) L2D cache misses
7  42000008 (PAPI_L3_TCM) L3 cache misses
7  42000052 (PAPI_FP_INS) FP instructions
7  42000102 (PAPI_FP_OPS) FP operations
7  42000099 (PAPI_FDV_INS) FPU divide
7  41999999 Active hardware counter set


GRADIENT_COLOR
0    {0,255,2}
1    {0,244,13}
2    {0,232,25}
3    {0,220,37}
4    {0,209,48}
5    {0,197,60}
6    {0,185,72}
7    {0,173,84}
8    {0,162,95}
9    {0,150,107}
10    {0,138,119}
11    {0,127,130}
12    {0,115,142}
13    {0,103,154}
14    {0,91,166}


GRADIENT_NAMES
0    Gradient 0
1    Grad. 1/MPI Events
2    Grad. 2/OMP Events
3    Grad. 3/OMP locks
4    Grad. 4/User func
5    Grad. 5/User Events
6    Grad. 6/General Events
7    Grad. 7/Hardware Counters
8    Gradient 8
9    Gradient 9
10    Gradient 10
11    Gradient 11
12    Gradient 12
13    Gradient 13
14    Gradient 14


EVENT_TYPE
0    60000019    User function
VALUES
0   End
1   Unresolved
2   _NOT_Found
3   exact_solution
4   exact_rhs
5   adi
6   compute_rhs
7   x_solve
8   binvcrhs
9   matvec_sub
10   matmul_sub
11   y_solve
12   z_solve
13   binvrhs
14   add0
15   lhsinit


EVENT_TYPE
0    60000119    User function line
VALUES
0   End
1   0 (Unresolved)
2   0 (_NOT_Found)
3   23 (add.f) [bt.B]
4   24 (add.f) [bt.B]
5   11 (adi.f) [bt.B]
6   26 (exact_rhs.f) [bt.B]
7   143 (exact_rhs.f) [bt.B]
8   209 (exact_rhs.f) [bt.B]
9   271 (exact_rhs.f) [bt.B]
10   19 (exact_solution.f) [bt.B]
11   20 (exact_solution.f) [bt.B]
12   21 (exact_solution.f) [bt.B]
13   22 (exact_solution.f) [bt.B]
14   208 (initialize.f) [bt.B]
15   209 (initialize.f) [bt.B]
16   210 (initialize.f) [bt.B]
17   220 (initialize.f) [bt.B]
18   24 (rhs.f) [bt.B]
19   25 (rhs.f) [bt.B]
20   26 (rhs.f) [bt.B]
21   27 (rhs.f) [bt.B]
22   28 (rhs.f) [bt.B]
23   29 (rhs.f) [bt.B]
24   30 (rhs.f) [bt.B]
25   31 (rhs.f) [bt.B]
26   32 (rhs.f) [bt.B]
27   34 (rhs.f) [bt.B]
28   48 (rhs.f) [bt.B]
29   49 (rhs.f) [bt.B]
30   61 (rhs.f) [bt.B]
31   62 (rhs.f) [bt.B]
32   63 (rhs.f) [bt.B]
33   64 (rhs.f) [bt.B]
34   65 (rhs.f) [bt.B]
35   67 (rhs.f) [bt.B]
36   68 (rhs.f) [bt.B]
37   69 (rhs.f) [bt.B]
38   70 (rhs.f) [bt.B]
39   72 (rhs.f) [bt.B]
40   73 (rhs.f) [bt.B]
41   76 (rhs.f) [bt.B]
42   77 (rhs.f) [bt.B]
43   79 (rhs.f) [bt.B]
44   82 (rhs.f) [bt.B]
45   84 (rhs.f) [bt.B]
46   85 (rhs.f) [bt.B]
47   87 (rhs.f) [bt.B]
48   88 (rhs.f) [bt.B]
49   90 (rhs.f) [bt.B]
50   91 (rhs.f) [bt.B]
51   92 (rhs.f) [bt.B]
52   93 (rhs.f) [bt.B]
53   98 (rhs.f) [bt.B]
54   99 (rhs.f) [bt.B]
55   101 (rhs.f) [bt.B]
56   102 (rhs.f) [bt.B]
57   103 (rhs.f) [bt.B]
58   105 (rhs.f) [bt.B]
59   106 (rhs.f) [bt.B]
60   107 (rhs.f) [bt.B]
61   135 (rhs.f) [bt.B]
62   137 (rhs.f) [bt.B]
63   138 (rhs.f) [bt.B]
64   139 (rhs.f) [bt.B]
65   170 (rhs.f) [bt.B]
66   172 (rhs.f) [bt.B]
67   173 (rhs.f) [bt.B]
68   174 (rhs.f) [bt.B]
69   175 (rhs.f) [bt.B]
70   176 (rhs.f) [bt.B]
71   177 (rhs.f) [bt.B]
72   178 (rhs.f) [bt.B]
73   179 (rhs.f) [bt.B]
74   180 (rhs.f) [bt.B]
75   183 (rhs.f) [bt.B]
76   184 (rhs.f) [bt.B]
77   187 (rhs.f) [bt.B]
78   192 (rhs.f) [bt.B]
79   193 (rhs.f) [bt.B]
80   194 (rhs.f) [bt.B]
81   196 (rhs.f) [bt.B]
82   198 (rhs.f) [bt.B]
83   200 (rhs.f) [bt.B]
84   201 (rhs.f) [bt.B]
85   203 (rhs.f) [bt.B]
86   204 (rhs.f) [bt.B]
87   205 (rhs.f) [bt.B]
88   209 (rhs.f) [bt.B]
89   210 (rhs.f) [bt.B]
90   223 (rhs.f) [bt.B]
91   239 (rhs.f) [bt.B]
92   241 (rhs.f) [bt.B]
93   242 (rhs.f) [bt.B]
94   243 (rhs.f) [bt.B]
95   253 (rhs.f) [bt.B]
96   274 (rhs.f) [bt.B]
97   275 (rhs.f) [bt.B]
98   276 (rhs.f) [bt.B]
99   277 (rhs.f) [bt.B]
100   278 (rhs.f) [bt.B]
101   280 (rhs.f) [bt.B]
102   281 (rhs.f) [bt.B]
103   283 (rhs.f) [bt.B]
104   284 (rhs.f) [bt.B]
105   285 (rhs.f) [bt.B]
106   287 (rhs.f) [bt.B]
107   289 (rhs.f) [bt.B]
108   291 (rhs.f) [bt.B]
109   292 (rhs.f) [bt.B]
110   294 (rhs.f) [bt.B]
111   296 (rhs.f) [bt.B]
112   297 (rhs.f) [bt.B]
113   298 (rhs.f) [bt.B]
114   299 (rhs.f) [bt.B]
115   301 (rhs.f) [bt.B]
116   302 (rhs.f) [bt.B]
117   303 (rhs.f) [bt.B]
118   305 (rhs.f) [bt.B]
119   307 (rhs.f) [bt.B]
120   309 (rhs.f) [bt.B]
121   310 (rhs.f) [bt.B]
122   312 (rhs.f) [bt.B]
123   313 (rhs.f) [bt.B]
124   314 (rhs.f) [bt.B]
125   315 (rhs.f) [bt.B]
126   317 (rhs.f) [bt.B]
127   318 (rhs.f) [bt.B]
128   319 (rhs.f) [bt.B]
129   320 (rhs.f) [bt.B]
130   343 (rhs.f) [bt.B]
131   352 (rhs.f) [bt.B]
132   354 (rhs.f) [bt.B]
133   355 (rhs.f) [bt.B]
134   356 (rhs.f) [bt.B]
135   357 (rhs.f) [bt.B]
136   388 (rhs.f) [bt.B]
137   390 (rhs.f) [bt.B]
138   23 (solve_subs.f) [bt.B]
139   24 (solve_subs.f) [bt.B]
140   25 (solve_subs.f) [bt.B]
141   26 (solve_subs.f) [bt.B]
142   27 (solve_subs.f) [bt.B]
143   51 (solve_subs.f) [bt.B]
144   71 (solve_subs.f) [bt.B]
145   72 (solve_subs.f) [bt.B]
146   73 (solve_subs.f) [bt.B]
147   74 (solve_subs.f) [bt.B]
148   75 (solve_subs.f) [bt.B]
149   96 (solve_subs.f) [bt.B]
150   97 (solve_subs.f) [bt.B]
151   98 (solve_subs.f) [bt.B]
152   99 (solve_subs.f) [bt.B]
153   121 (solve_subs.f) [bt.B]
154   122 (solve_subs.f) [bt.B]
155   123 (solve_subs.f) [bt.B]
156   124 (solve_subs.f) [bt.B]
157   125 (solve_subs.f) [bt.B]
158   146 (solve_subs.f) [bt.B]
159   147 (solve_subs.f) [bt.B]
160   148 (solve_subs.f) [bt.B]
161   149 (solve_subs.f) [bt.B]
162   150 (solve_subs.f) [bt.B]
163   171 (solve_subs.f) [bt.B]
164   172 (solve_subs.f) [bt.B]
165   173 (solve_subs.f) [bt.B]
166   174 (solve_subs.f) [bt.B]
167   175 (solve_subs.f) [bt.B]
168   199 (solve_subs.f) [bt.B]
169   206 (solve_subs.f) [bt.B]
170   226 (solve_subs.f) [bt.B]
171   227 (solve_subs.f) [bt.B]
172   228 (solve_subs.f) [bt.B]
173   229 (solve_subs.f) [bt.B]
174   232 (solve_subs.f) [bt.B]
175   233 (solve_subs.f) [bt.B]
176   234 (solve_subs.f) [bt.B]
177   235 (solve_subs.f) [bt.B]
178   238 (solve_subs.f) [bt.B]
179   239 (solve_subs.f) [bt.B]
180   241 (solve_subs.f) [bt.B]
181   242 (solve_subs.f) [bt.B]
182   243 (solve_subs.f) [bt.B]
183   245 (solve_subs.f) [bt.B]
184   246 (solve_subs.f) [bt.B]
185   247 (solve_subs.f) [bt.B]
186   250 (solve_subs.f) [bt.B]
187   252 (solve_subs.f) [bt.B]
188   253 (solve_subs.f) [bt.B]
189   254 (solve_subs.f) [bt.B]
190   255 (solve_subs.f) [bt.B]
191   256 (solve_subs.f) [bt.B]
192   257 (solve_subs.f) [bt.B]
193   258 (solve_subs.f) [bt.B]
194   259 (solve_subs.f) [bt.B]
195   262 (solve_subs.f) [bt.B]
196   263 (solve_subs.f) [bt.B]
197   264 (solve_subs.f) [bt.B]
198   265 (solve_subs.f) [bt.B]
199   266 (solve_subs.f) [bt.B]
200   267 (solve_subs.f) [bt.B]
201   268 (solve_subs.f) [bt.B]
202   269 (solve_subs.f) [bt.B]
203   270 (solve_subs.f) [bt.B]
204   271 (solve_subs.f) [bt.B]
205   274 (solve_subs.f) [bt.B]
206   275 (solve_subs.f) [bt.B]
207   276 (solve_subs.f) [bt.B]
208   277 (solve_subs.f) [bt.B]
209   278 (solve_subs.f) [bt.B]
210   279 (solve_subs.f) [bt.B]
211   280 (solve_subs.f) [bt.B]
212   281 (solve_subs.f) [bt.B]
213   282 (solve_subs.f) [bt.B]
214   283 (solve_subs.f) [bt.B]
215   286 (solve_subs.f) [bt.B]
216   287 (solve_subs.f) [bt.B]
217   288 (solve_subs.f) [bt.B]
218   289 (solve_subs.f) [bt.B]
219   290 (solve_subs.f) [bt.B]
220   292 (solve_subs.f) [bt.B]
221   293 (solve_subs.f) [bt.B]
222   295 (solve_subs.f) [bt.B]
223   298 (solve_subs.f) [bt.B]
224   299 (solve_subs.f) [bt.B]
225   300 (solve_subs.f) [bt.B]
226   301 (solve_subs.f) [bt.B]
227   302 (solve_subs.f) [bt.B]
228   303 (solve_subs.f) [bt.B]
229   304 (solve_subs.f) [bt.B]
230   305 (solve_subs.f) [bt.B]
231   306 (solve_subs.f) [bt.B]
232   309 (solve_subs.f) [bt.B]
233   311 (solve_subs.f) [bt.B]
234   312 (solve_subs.f) [bt.B]
235   313 (solve_subs.f) [bt.B]
236   314 (solve_subs.f) [bt.B]
237   315 (solve_subs.f) [bt.B]
238   316 (solve_subs.f) [bt.B]
239   317 (solve_subs.f) [bt.B]
240   320 (solve_subs.f) [bt.B]
241   321 (solve_subs.f) [bt.B]
242   323 (solve_subs.f) [bt.B]
243   324 (solve_subs.f) [bt.B]
244   325 (solve_subs.f) [bt.B]
245   326 (solve_subs.f) [bt.B]
246   327 (solve_subs.f) [bt.B]
247   328 (solve_subs.f) [bt.B]
248   331 (solve_subs.f) [bt.B]
249   332 (solve_subs.f) [bt.B]
250   333 (solve_subs.f) [bt.B]
251   334 (solve_subs.f) [bt.B]
252   335 (solve_subs.f) [bt.B]
253   336 (solve_subs.f) [bt.B]
254   337 (solve_subs.f) [bt.B]
255   338 (solve_subs.f) [bt.B]
256   339 (solve_subs.f) [bt.B]
257   342 (solve_subs.f) [bt.B]
258   344 (solve_subs.f) [bt.B]
259   345 (solve_subs.f) [bt.B]
260   346 (solve_subs.f) [bt.B]
261   347 (solve_subs.f) [bt.B]
262   348 (solve_subs.f) [bt.B]
263   349 (solve_subs.f) [bt.B]
264   350 (solve_subs.f) [bt.B]
265   353 (solve_subs.f) [bt.B]
266   354 (solve_subs.f) [bt.B]
267   355 (solve_subs.f) [bt.B]
268   356 (solve_subs.f) [bt.B]
269   357 (solve_subs.f) [bt.B]
270   358 (solve_subs.f) [bt.B]
271   359 (solve_subs.f) [bt.B]
272   360 (solve_subs.f) [bt.B]
273   363 (solve_subs.f) [bt.B]
274   364 (solve_subs.f) [bt.B]
275   366 (solve_subs.f) [bt.B]
276   367 (solve_subs.f) [bt.B]
277   370 (solve_subs.f) [bt.B]
278   373 (solve_subs.f) [bt.B]
279   377 (solve_subs.f) [bt.B]
280   378 (solve_subs.f) [bt.B]
281   380 (solve_subs.f) [bt.B]
282   383 (solve_subs.f) [bt.B]
283   384 (solve_subs.f) [bt.B]
284   385 (solve_subs.f) [bt.B]
285   386 (solve_subs.f) [bt.B]
286   387 (solve_subs.f) [bt.B]
287   388 (solve_subs.f) [bt.B]
288   389 (solve_subs.f) [bt.B]
289   390 (solve_subs.f) [bt.B]
290   393 (solve_subs.f) [bt.B]
291   396 (solve_subs.f) [bt.B]
292   397 (solve_subs.f) [bt.B]
293   398 (solve_subs.f) [bt.B]
294   399 (solve_subs.f) [bt.B]
295   400 (solve_subs.f) [bt.B]
296   403 (solve_subs.f) [bt.B]
297   404 (solve_subs.f) [bt.B]
298   405 (solve_subs.f) [bt.B]
299   406 (solve_subs.f) [bt.B]
300   407 (solve_subs.f) [bt.B]
301   408 (solve_subs.f) [bt.B]
302   409 (solve_subs.f) [bt.B]
303   412 (solve_subs.f) [bt.B]
304   413 (solve_subs.f) [bt.B]
305   414 (solve_subs.f) [bt.B]
306   415 (solve_subs.f) [bt.B]
307   416 (solve_subs.f) [bt.B]
308   417 (solve_subs.f) [bt.B]
309   418 (solve_subs.f) [bt.B]
310   421 (solve_subs.f) [bt.B]
311   423 (solve_subs.f) [bt.B]
312   424 (solve_subs.f) [bt.B]
313   425 (solve_subs.f) [bt.B]
314   426 (solve_subs.f) [bt.B]
315   427 (solve_subs.f) [bt.B]
316   430 (solve_subs.f) [bt.B]
317   431 (solve_subs.f) [bt.B]
318   432 (solve_subs.f) [bt.B]
319   433 (solve_subs.f) [bt.B]
320   434 (solve_subs.f) [bt.B]
321   435 (solve_subs.f) [bt.B]
322   436 (solve_subs.f) [bt.B]
323   441 (solve_subs.f) [bt.B]
324   442 (solve_subs.f) [bt.B]
325   443 (solve_subs.f) [bt.B]
326   444 (solve_subs.f) [bt.B]
327   445 (solve_subs.f) [bt.B]
328   448 (solve_subs.f) [bt.B]
329   449 (solve_subs.f) [bt.B]
330   450 (solve_subs.f) [bt.B]
331   451 (solve_subs.f) [bt.B]
332   452 (solve_subs.f) [bt.B]
333   456 (solve_subs.f) [bt.B]
334   457 (solve_subs.f) [bt.B]
335   458 (solve_subs.f) [bt.B]
336   459 (solve_subs.f) [bt.B]
337   460 (solve_subs.f) [bt.B]
338   465 (solve_subs.f) [bt.B]
339   466 (solve_subs.f) [bt.B]
340   472 (solve_subs.f) [bt.B]
341   473 (solve_subs.f) [bt.B]
342   475 (solve_subs.f) [bt.B]
343   476 (solve_subs.f) [bt.B]
344   477 (solve_subs.f) [bt.B]
345   481 (solve_subs.f) [bt.B]
346   509 (solve_subs.f) [bt.B]
347   511 (solve_subs.f) [bt.B]
348   512 (solve_subs.f) [bt.B]
349   526 (solve_subs.f) [bt.B]
350   545 (solve_subs.f) [bt.B]
351   565 (solve_subs.f) [bt.B]
352   577 (solve_subs.f) [bt.B]
353   586 (solve_subs.f) [bt.B]
354   592 (solve_subs.f) [bt.B]
355   48 (x_solve.f) [bt.B]
356   50 (x_solve.f) [bt.B]
357   51 (x_solve.f) [bt.B]
358   57 (x_solve.f) [bt.B]
359   59 (x_solve.f) [bt.B]
360   62 (x_solve.f) [bt.B]
361   64 (x_solve.f) [bt.B]
362   65 (x_solve.f) [bt.B]
363   66 (x_solve.f) [bt.B]
364   67 (x_solve.f) [bt.B]
365   68 (x_solve.f) [bt.B]
366   69 (x_solve.f) [bt.B]
367   71 (x_solve.f) [bt.B]
368   72 (x_solve.f) [bt.B]
369   73 (x_solve.f) [bt.B]
370   74 (x_solve.f) [bt.B]
371   77 (x_solve.f) [bt.B]
372   78 (x_solve.f) [bt.B]
373   79 (x_solve.f) [bt.B]
374   80 (x_solve.f) [bt.B]
375   81 (x_solve.f) [bt.B]
376   83 (x_solve.f) [bt.B]
377   84 (x_solve.f) [bt.B]
378   85 (x_solve.f) [bt.B]
379   88 (x_solve.f) [bt.B]
380   92 (x_solve.f) [bt.B]
381   97 (x_solve.f) [bt.B]
382   99 (x_solve.f) [bt.B]
383   100 (x_solve.f) [bt.B]
384   102 (x_solve.f) [bt.B]
385   103 (x_solve.f) [bt.B]
386   104 (x_solve.f) [bt.B]
387   105 (x_solve.f) [bt.B]
388   106 (x_solve.f) [bt.B]
389   109 (x_solve.f) [bt.B]
390   110 (x_solve.f) [bt.B]
391   111 (x_solve.f) [bt.B]
392   112 (x_solve.f) [bt.B]
393   114 (x_solve.f) [bt.B]
394   115 (x_solve.f) [bt.B]
395   116 (x_solve.f) [bt.B]
396   118 (x_solve.f) [bt.B]
397   120 (x_solve.f) [bt.B]
398   122 (x_solve.f) [bt.B]
399   123 (x_solve.f) [bt.B]
400   124 (x_solve.f) [bt.B]
401   126 (x_solve.f) [bt.B]
402   137 (x_solve.f) [bt.B]
403   142 (x_solve.f) [bt.B]
404   143 (x_solve.f) [bt.B]
405   145 (x_solve.f) [bt.B]
406   147 (x_solve.f) [bt.B]
407   149 (x_solve.f) [bt.B]
408   151 (x_solve.f) [bt.B]
409   154 (x_solve.f) [bt.B]
410   155 (x_solve.f) [bt.B]
411   156 (x_solve.f) [bt.B]
412   157 (x_solve.f) [bt.B]
413   163 (x_solve.f) [bt.B]
414   166 (x_solve.f) [bt.B]
415   167 (x_solve.f) [bt.B]
416   170 (x_solve.f) [bt.B]
417   174 (x_solve.f) [bt.B]
418   175 (x_solve.f) [bt.B]
419   180 (x_solve.f) [bt.B]
420   181 (x_solve.f) [bt.B]
421   182 (x_solve.f) [bt.B]
422   184 (x_solve.f) [bt.B]
423   187 (x_solve.f) [bt.B]
424   190 (x_solve.f) [bt.B]
425   191 (x_solve.f) [bt.B]
426   192 (x_solve.f) [bt.B]
427   194 (x_solve.f) [bt.B]
428   195 (x_solve.f) [bt.B]
429   196 (x_solve.f) [bt.B]
430   197 (x_solve.f) [bt.B]
431   198 (x_solve.f) [bt.B]
432   199 (x_solve.f) [bt.B]
433   206 (x_solve.f) [bt.B]
434   210 (x_solve.f) [bt.B]
435   211 (x_solve.f) [bt.B]
436   212 (x_solve.f) [bt.B]
437   214 (x_solve.f) [bt.B]
438   215 (x_solve.f) [bt.B]
439   216 (x_solve.f) [bt.B]
440   219 (x_solve.f) [bt.B]
441   220 (x_solve.f) [bt.B]
442   221 (x_solve.f) [bt.B]
443   223 (x_solve.f) [bt.B]
444   224 (x_solve.f) [bt.B]
445   226 (x_solve.f) [bt.B]
446   227 (x_solve.f) [bt.B]
447   228 (x_solve.f) [bt.B]
448   229 (x_solve.f) [bt.B]
449   230 (x_solve.f) [bt.B]
450   232 (x_solve.f) [bt.B]
451   234 (x_solve.f) [bt.B]
452   235 (x_solve.f) [bt.B]
453   236 (x_solve.f) [bt.B]
454   237 (x_solve.f) [bt.B]
455   238 (x_solve.f) [bt.B]
456   239 (x_solve.f) [bt.B]
457   242 (x_solve.f) [bt.B]
458   245 (x_solve.f) [bt.B]
459   247 (x_solve.f) [bt.B]
460   249 (x_solve.f) [bt.B]
461   250 (x_solve.f) [bt.B]
462   251 (x_solve.f) [bt.B]
463   252 (x_solve.f) [bt.B]
464   254 (x_solve.f) [bt.B]
465   257 (x_solve.f) [bt.B]
466   261 (x_solve.f) [bt.B]
467   263 (x_solve.f) [bt.B]
468   266 (x_solve.f) [bt.B]
469   267 (x_solve.f) [bt.B]
470   268 (x_solve.f) [bt.B]
471   269 (x_solve.f) [bt.B]
472   270 (x_solve.f) [bt.B]
473   271 (x_solve.f) [bt.B]
474   273 (x_solve.f) [bt.B]
475   274 (x_solve.f) [bt.B]
476   275 (x_solve.f) [bt.B]
477   276 (x_solve.f) [bt.B]
478   278 (x_solve.f) [bt.B]
479   280 (x_solve.f) [bt.B]
480   281 (x_solve.f) [bt.B]
481   282 (x_solve.f) [bt.B]
482   284 (x_solve.f) [bt.B]
483   285 (x_solve.f) [bt.B]
484   287 (x_solve.f) [bt.B]
485   292 (x_solve.f) [bt.B]
486   294 (x_solve.f) [bt.B]
487   295 (x_solve.f) [bt.B]
488   296 (x_solve.f) [bt.B]
489   298 (x_solve.f) [bt.B]
490   299 (x_solve.f) [bt.B]
491   333 (x_solve.f) [bt.B]
492   338 (x_solve.f) [bt.B]
493   344 (x_solve.f) [bt.B]
494   353 (x_solve.f) [bt.B]
495   386 (x_solve.f) [bt.B]
496   388 (x_solve.f) [bt.B]
497   389 (x_solve.f) [bt.B]
498   390 (x_solve.f) [bt.B]
499   48 (y_solve.f) [bt.B]
500   49 (y_solve.f) [bt.B]
501   52 (y_solve.f) [bt.B]
502   53 (y_solve.f) [bt.B]
503   58 (y_solve.f) [bt.B]
504   59 (y_solve.f) [bt.B]
505   60 (y_solve.f) [bt.B]
506   61 (y_solve.f) [bt.B]
507   62 (y_solve.f) [bt.B]
508   63 (y_solve.f) [bt.B]
509   65 (y_solve.f) [bt.B]
510   66 (y_solve.f) [bt.B]
511   67 (y_solve.f) [bt.B]
512   68 (y_solve.f) [bt.B]
513   71 (y_solve.f) [bt.B]
514   73 (y_solve.f) [bt.B]
515   75 (y_solve.f) [bt.B]
516   76 (y_solve.f) [bt.B]
517   78 (y_solve.f) [bt.B]
518   80 (y_solve.f) [bt.B]
519   81 (y_solve.f) [bt.B]
520   82 (y_solve.f) [bt.B]
521   84 (y_solve.f) [bt.B]
522   85 (y_solve.f) [bt.B]
523   87 (y_solve.f) [bt.B]
524   89 (y_solve.f) [bt.B]
525   93 (y_solve.f) [bt.B]
526   95 (y_solve.f) [bt.B]
527   96 (y_solve.f) [bt.B]
528   97 (y_solve.f) [bt.B]
529   101 (y_solve.f) [bt.B]
530   102 (y_solve.f) [bt.B]
531   103 (y_solve.f) [bt.B]
532   105 (y_solve.f) [bt.B]
533   106 (y_solve.f) [bt.B]
534   107 (y_solve.f) [bt.B]
535   108 (y_solve.f) [bt.B]
536   109 (y_solve.f) [bt.B]
537   111 (y_solve.f) [bt.B]
538   112 (y_solve.f) [bt.B]
539   113 (y_solve.f) [bt.B]
540   115 (y_solve.f) [bt.B]
541   117 (y_solve.f) [bt.B]
542   120 (y_solve.f) [bt.B]
543   121 (y_solve.f) [bt.B]
544   122 (y_solve.f) [bt.B]
545   124 (y_solve.f) [bt.B]
546   127 (y_solve.f) [bt.B]
547   128 (y_solve.f) [bt.B]
548   136 (y_solve.f) [bt.B]
549   141 (y_solve.f) [bt.B]
550   142 (y_solve.f) [bt.B]
551   144 (y_solve.f) [bt.B]
552   146 (y_solve.f) [bt.B]
553   148 (y_solve.f) [bt.B]
554   149 (y_solve.f) [bt.B]
555   150 (y_solve.f) [bt.B]
556   151 (y_solve.f) [bt.B]
557   153 (y_solve.f) [bt.B]
558   155 (y_solve.f) [bt.B]
559   158 (y_solve.f) [bt.B]
560   160 (y_solve.f) [bt.B]
561   162 (y_solve.f) [bt.B]
562   165 (y_solve.f) [bt.B]
563   167 (y_solve.f) [bt.B]
564   168 (y_solve.f) [bt.B]
565   169 (y_solve.f) [bt.B]
566   172 (y_solve.f) [bt.B]
567   174 (y_solve.f) [bt.B]
568   177 (y_solve.f) [bt.B]
569   179 (y_solve.f) [bt.B]
570   181 (y_solve.f) [bt.B]
571   182 (y_solve.f) [bt.B]
572   183 (y_solve.f) [bt.B]
573   184 (y_solve.f) [bt.B]
574   186 (y_solve.f) [bt.B]
575   187 (y_solve.f) [bt.B]
576   189 (y_solve.f) [bt.B]
577   191 (y_solve.f) [bt.B]
578   192 (y_solve.f) [bt.B]
579   193 (y_solve.f) [bt.B]
580   195 (y_solve.f) [bt.B]
581   196 (y_solve.f) [bt.B]
582   197 (y_solve.f) [bt.B]
583   198 (y_solve.f) [bt.B]
584   199 (y_solve.f) [bt.B]
585   201 (y_solve.f) [bt.B]
586   204 (y_solve.f) [bt.B]
587   205 (y_solve.f) [bt.B]
588   206 (y_solve.f) [bt.B]
589   209 (y_solve.f) [bt.B]
590   210 (y_solve.f) [bt.B]
591   213 (y_solve.f) [bt.B]
592   215 (y_solve.f) [bt.B]
593   219 (y_solve.f) [bt.B]
594   222 (y_solve.f) [bt.B]
595   223 (y_solve.f) [bt.B]
596   225 (y_solve.f) [bt.B]
597   226 (y_solve.f) [bt.B]
598   227 (y_solve.f) [bt.B]
599   228 (y_solve.f) [bt.B]
600   229 (y_solve.f) [bt.B]
601   231 (y_solve.f) [bt.B]
602   233 (y_solve.f) [bt.B]
603   234 (y_solve.f) [bt.B]
604   235 (y_solve.f) [bt.B]
605   236 (y_solve.f) [bt.B]
606   237 (y_solve.f) [bt.B]
607   238 (y_solve.f) [bt.B]
608   241 (y_solve.f) [bt.B]
609   242 (y_solve.f) [bt.B]
610   245 (y_solve.f) [bt.B]
611   247 (y_solve.f) [bt.B]
612   248 (y_solve.f) [bt.B]
613   249 (y_solve.f) [bt.B]
614   250 (y_solve.f) [bt.B]
615   251 (y_solve.f) [bt.B]
616   253 (y_solve.f) [bt.B]
617   255 (y_solve.f) [bt.B]
618   258 (y_solve.f) [bt.B]
619   259 (y_solve.f) [bt.B]
620   261 (y_solve.f) [bt.B]
621   265 (y_solve.f) [bt.B]
622   266 (y_solve.f) [bt.B]
623   267 (y_solve.f) [bt.B]
624   268 (y_solve.f) [bt.B]
625   269 (y_solve.f) [bt.B]
626   272 (y_solve.f) [bt.B]
627   275 (y_solve.f) [bt.B]
628   277 (y_solve.f) [bt.B]
629   278 (y_solve.f) [bt.B]
630   279 (y_solve.f) [bt.B]
631   281 (y_solve.f) [bt.B]
632   282 (y_solve.f) [bt.B]
633   283 (y_solve.f) [bt.B]
634   284 (y_solve.f) [bt.B]
635   289 (y_solve.f) [bt.B]
636   291 (y_solve.f) [bt.B]
637   293 (y_solve.f) [bt.B]
638   294 (y_solve.f) [bt.B]
639   295 (y_solve.f) [bt.B]
640   296 (y_solve.f) [bt.B]
641   297 (y_solve.f) [bt.B]
642   298 (y_solve.f) [bt.B]
643   328 (y_solve.f) [bt.B]
644   335 (y_solve.f) [bt.B]
645   341 (y_solve.f) [bt.B]
646   349 (y_solve.f) [bt.B]
647   385 (y_solve.f) [bt.B]
648   387 (y_solve.f) [bt.B]
649   388 (y_solve.f) [bt.B]
650   389 (y_solve.f) [bt.B]
651   45 (z_solve.f) [bt.B]
652   46 (z_solve.f) [bt.B]
653   49 (z_solve.f) [bt.B]
654   50 (z_solve.f) [bt.B]
655   55 (z_solve.f) [bt.B]
656   58 (z_solve.f) [bt.B]
657   59 (z_solve.f) [bt.B]
658   60 (z_solve.f) [bt.B]
659   61 (z_solve.f) [bt.B]
660   62 (z_solve.f) [bt.B]
661   65 (z_solve.f) [bt.B]
662   68 (z_solve.f) [bt.B]
663   70 (z_solve.f) [bt.B]
664   72 (z_solve.f) [bt.B]
665   73 (z_solve.f) [bt.B]
666   74 (z_solve.f) [bt.B]
667   76 (z_solve.f) [bt.B]
668   78 (z_solve.f) [bt.B]
669   80 (z_solve.f) [bt.B]
670   81 (z_solve.f) [bt.B]
671   82 (z_solve.f) [bt.B]
672   83 (z_solve.f) [bt.B]
673   89 (z_solve.f) [bt.B]
674   99 (z_solve.f) [bt.B]
675   100 (z_solve.f) [bt.B]
676   102 (z_solve.f) [bt.B]
677   105 (z_solve.f) [bt.B]
678   106 (z_solve.f) [bt.B]
679   108 (z_solve.f) [bt.B]
680   111 (z_solve.f) [bt.B]
681   112 (z_solve.f) [bt.B]
682   113 (z_solve.f) [bt.B]
683   114 (z_solve.f) [bt.B]
684   115 (z_solve.f) [bt.B]
685   118 (z_solve.f) [bt.B]
686   121 (z_solve.f) [bt.B]
687   122 (z_solve.f) [bt.B]
688   124 (z_solve.f) [bt.B]
689   125 (z_solve.f) [bt.B]
690   126 (z_solve.f) [bt.B]
691   137 (z_solve.f) [bt.B]
692   142 (z_solve.f) [bt.B]
693   143 (z_solve.f) [bt.B]
694   145 (z_solve.f) [bt.B]
695   146 (z_solve.f) [bt.B]
696   147 (z_solve.f) [bt.B]
697   149 (z_solve.f) [bt.B]
698   151 (z_solve.f) [bt.B]
699   152 (z_solve.f) [bt.B]
700   154 (z_solve.f) [bt.B]
701   156 (z_solve.f) [bt.B]
702   159 (z_solve.f) [bt.B]
703   162 (z_solve.f) [bt.B]
704   163 (z_solve.f) [bt.B]
705   166 (z_solve.f) [bt.B]
706   168 (z_solve.f) [bt.B]
707   169 (z_solve.f) [bt.B]
708   170 (z_solve.f) [bt.B]
709   173 (z_solve.f) [bt.B]
710   175 (z_solve.f) [bt.B]
711   178 (z_solve.f) [bt.B]
712   179 (z_solve.f) [bt.B]
713   180 (z_solve.f) [bt.B]
714   184 (z_solve.f) [bt.B]
715   185 (z_solve.f) [bt.B]
716   187 (z_solve.f) [bt.B]
717   190 (z_solve.f) [bt.B]
718   191 (z_solve.f) [bt.B]
719   192 (z_solve.f) [bt.B]
720   193 (z_solve.f) [bt.B]
721   194 (z_solve.f) [bt.B]
722   195 (z_solve.f) [bt.B]
723   196 (z_solve.f) [bt.B]
724   198 (z_solve.f) [bt.B]
725   199 (z_solve.f) [bt.B]
726   200 (z_solve.f) [bt.B]
727   202 (z_solve.f) [bt.B]
728   207 (z_solve.f) [bt.B]
729   208 (z_solve.f) [bt.B]
730   210 (z_solve.f) [bt.B]
731   211 (z_solve.f) [bt.B]
732   212 (z_solve.f) [bt.B]
733   214 (z_solve.f) [bt.B]
734   215 (z_solve.f) [bt.B]
735   216 (z_solve.f) [bt.B]
736   220 (z_solve.f) [bt.B]
737   223 (z_solve.f) [bt.B]
738   224 (z_solve.f) [bt.B]
739   226 (z_solve.f) [bt.B]
740   227 (z_solve.f) [bt.B]
741   229 (z_solve.f) [bt.B]
742   230 (z_solve.f) [bt.B]
743   234 (z_solve.f) [bt.B]
744   235 (z_solve.f) [bt.B]
745   236 (z_solve.f) [bt.B]
746   237 (z_solve.f) [bt.B]
747   238 (z_solve.f) [bt.B]
748   242 (z_solve.f) [bt.B]
749   245 (z_solve.f) [bt.B]
750   247 (z_solve.f) [bt.B]
751   249 (z_solve.f) [bt.B]
752   250 (z_solve.f) [bt.B]
753   251 (z_solve.f) [bt.B]
754   252 (z_solve.f) [bt.B]
755   254 (z_solve.f) [bt.B]
756   256 (z_solve.f) [bt.B]
757   257 (z_solve.f) [bt.B]
758   263 (z_solve.f) [bt.B]
759   264 (z_solve.f) [bt.B]
760   266 (z_solve.f) [bt.B]
761   267 (z_solve.f) [bt.B]
762   270 (z_solve.f) [bt.B]
763   273 (z_solve.f) [bt.B]
764   274 (z_solve.f) [bt.B]
765   276 (z_solve.f) [bt.B]
766   278 (z_solve.f) [bt.B]
767   279 (z_solve.f) [bt.B]
768   281 (z_solve.f) [bt.B]
769   282 (z_solve.f) [bt.B]
770   284 (z_solve.f) [bt.B]
771   285 (z_solve.f) [bt.B]
772   287 (z_solve.f) [bt.B]
773   290 (z_solve.f) [bt.B]
774   292 (z_solve.f) [bt.B]
775   294 (z_solve.f) [bt.B]
776   295 (z_solve.f) [bt.B]
777   296 (z_solve.f) [bt.B]
778   297 (z_solve.f) [bt.B]
779   298 (z_solve.f) [bt.B]
780   299 (z_solve.f) [bt.B]
781   334 (z_solve.f) [bt.B]
782   341 (z_solve.f) [bt.B]
783   348 (z_solve.f) [bt.B]
784   398 (z_solve.f) [bt.B]
785   400 (z_solve.f) [bt.B]
786   401 (z_solve.f) [bt.B]
787   402 (z_solve.f) [bt.B]


EVENT_TYPE
0    30000000    Sampled functions
0    30000001    Sampled functions (depth 1)
VALUES
0   End
1   Unresolved
2   _NOT_Found
3   exact_solution
4   exact_rhs
5   adi
6   compute_rhs
7   x_solve
8   binvcrhs
9   matvec_sub
10   matmul_sub
11   y_solve
12   z_solve
13   binvrhs
14   add0
15   lhsinit


EVENT_TYPE
0    30000100    Sampled line functions
0    30000101    Sampled lines functions (depth 1)
VALUES
0   End
1   0 (Unresolved)
2   0 (_NOT_Found)
3   23 (add.f) [bt.B]
4   24 (add.f) [bt.B]
5   11 (adi.f) [bt.B]
6   26 (exact_rhs.f) [bt.B]
7   143 (exact_rhs.f) [bt.B]
8   209 (exact_rhs.f) [bt.B]
9   271 (exact_rhs.f) [bt.B]
10   19 (exact_solution.f) [bt.B]
11   20 (exact_solution.f) [bt.B]
12   21 (exact_solution.f) [bt.B]
13   22 (exact_solution.f) [bt.B]
14   208 (initialize.f) [bt.B]
15   209 (initialize.f) [bt.B]
16   210 (initialize.f) [bt.B]
17   220 (initialize.f) [bt.B]
18   24 (rhs.f) [bt.B]
19   25 (rhs.f) [bt.B]
20   26 (rhs.f) [bt.B]
21   27 (rhs.f) [bt.B]
22   28 (rhs.f) [bt.B]
23   29 (rhs.f) [bt.B]
24   30 (rhs.f) [bt.B]
25   31 (rhs.f) [bt.B]
26   32 (rhs.f) [bt.B]
27   34 (rhs.f) [bt.B]
28   48 (rhs.f) [bt.B]
29   49 (rhs.f) [bt.B]
30   61 (rhs.f) [bt.B]
31   62 (rhs.f) [bt.B]
32   63 (rhs.f) [bt.B]
33   64 (rhs.f) [bt.B]
34   65 (rhs.f) [bt.B]
35   67 (rhs.f) [bt.B]
36   68 (rhs.f) [bt.B]
37   69 (rhs.f) [bt.B]
38   70 (rhs.f) [bt.B]
39   72 (rhs.f) [bt.B]
40   73 (rhs.f) [bt.B]
41   76 (rhs.f) [bt.B]
42   77 (rhs.f) [bt.B]
43   79 (rhs.f) [bt.B]
44   82 (rhs.f) [bt.B]
45   84 (rhs.f) [bt.B]
46   85 (rhs.f) [bt.B]
47   87 (rhs.f) [bt.B]
48   88 (rhs.f) [bt.B]
49   90 (rhs.f) [bt.B]
50   91 (rhs.f) [bt.B]
51   92 (rhs.f) [bt.B]
52   93 (rhs.f) [bt.B]
53   98 (rhs.f) [bt.B]
54   99 (rhs.f) [bt.B]
55   101 (rhs.f) [bt.B]
56   102 (rhs.f) [bt.B]
57   103 (rhs.f) [bt.B]
58   105 (rhs.f) [bt.B]
59   106 (rhs.f) [bt.B]
60   107 (rhs.f) [bt.B]
61   135 (rhs.f) [bt.B]
62   137 (rhs.f) [bt.B]
63   138 (rhs.f) [bt.B]
64   139 (rhs.f) [bt.B]
65   170 (rhs.f) [bt.B]
66   172 (rhs.f) [bt.B]
67   173 (rhs.f) [bt.B]
68   174 (rhs.f) [bt.B]
69   175 (rhs.f) [bt.B]
70   176 (rhs.f) [bt.B]
71   177 (rhs.f) [bt.B]
72   178 (rhs.f) [bt.B]
73   179 (rhs.f) [bt.B]
74   180 (rhs.f) [bt.B]
75   183 (rhs.f) [bt.B]
76   184 (rhs.f) [bt.B]
77   187 (rhs.f) [bt.B]
78   192 (rhs.f) [bt.B]
79   193 (rhs.f) [bt.B]
80   194 (rhs.f) [bt.B]
81   196 (rhs.f) [bt.B]
82   198 (rhs.f) [bt.B]
83   200 (rhs.f) [bt.B]
84   201 (rhs.f) [bt.B]
85   203 (rhs.f) [bt.B]
86   204 (rhs.f) [bt.B]
87   205 (rhs.f) [bt.B]
88   209 (rhs.f) [bt.B]
89   210 (rhs.f) [bt.B]
90   223 (rhs.f) [bt.B]
91   239 (rhs.f) [bt.B]
92   241 (rhs.f) [bt.B]
93   242 (rhs.f) [bt.B]
94   243 (rhs.f) [bt.B]
95   253 (rhs.f) [bt.B]
96   274 (rhs.f) [bt.B]
97   275 (rhs.f) [bt.B]
98   276 (rhs.f) [bt.B]
99   277 (rhs.f) [bt.B]
100   278 (rhs.f) [bt.B]
101   280 (rhs.f) [bt.B]
102   281 (rhs.f) [bt.B]
103   283 (rhs.f) [bt.B]
104   284 (rhs.f) [bt.B]
105   285 (rhs.f) [bt.B]
106   287 (rhs.f) [bt.B]
107   289 (rhs.f) [bt.B]
108   291 (rhs.f) [bt.B]
109   292 (rhs.f) [bt.B]
110   294 (rhs.f) [bt.B]
111   296 (rhs.f) [bt.B]
112   297 (rhs.f) [bt.B]
113   298 (rhs.f) [bt.B]
114   299 (rhs.f) [bt.B]
115   301 (rhs.f) [bt.B]
116   302 (rhs.f) [bt.B]
117   303 (rhs.f) [bt.B]
118   305 (rhs.f) [bt.B]
119   307 (rhs.f) [bt.B]
120   309 (rhs.f) [bt.B]
121   310 (rhs.f) [bt.B]
122   312 (rhs.f) [bt.B]
123   313 (rhs.f) [bt.B]
124   314 (rhs.f) [bt.B]
125   315 (rhs.f) [bt.B]
126   317 (rhs.f) [bt.B]
127   318 (rhs.f) [bt.B]
128   319 (rhs.f) [bt.B]
129   320 (rhs.f) [bt.B]
130   343 (rhs.f) [bt.B]
131   352 (rhs.f) [bt.B]
132   354 (rhs.f) [bt.B]
133   355 (rhs.f) [bt.B]
134   356 (rhs.f) [bt.B]
135   357 (rhs.f) [bt.B]
136   388 (rhs.f) [bt.B]
137   390 (rhs.f) [bt.B]
138   23 (solve_subs.f) [bt.B]
139   24 (solve_subs.f) [bt.B]
140   25 (solve_subs.f) [bt.B]
141   26 (solve_subs.f) [bt.B]
142   27 (solve_subs.f) [bt.B]
143   51 (solve_subs.f) [bt.B]
144   71 (solve_subs.f) [bt.B]
145   72 (solve_subs.f) [bt.B]
146   73 (solve_subs.f) [bt.B]
147   74 (solve_subs.f) [bt.B]
148   75 (solve_subs.f) [bt.B]
149   96 (solve_subs.f) [bt.B]
150   97 (solve_subs.f) [bt.B]
151   98 (solve_subs.f) [bt.B]
152   99 (solve_subs.f) [bt.B]
153   121 (solve_subs.f) [bt.B]
154   122 (solve_subs.f) [bt.B]
155   123 (solve_subs.f) [bt.B]
156   124 (solve_subs.f) [bt.B]
157   125 (solve_subs.f) [bt.B]
158   146 (solve_subs.f) [bt.B]
159   147 (solve_subs.f) [bt.B]
160   148 (solve_subs.f) [bt.B]
161   149 (solve_subs.f) [bt.B]
162   150 (solve_subs.f) [bt.B]
163   171 (solve_subs.f) [bt.B]
164   172 (solve_subs.f) [bt.B]
165   173 (solve_subs.f) [bt.B]
166   174 (solve_subs.f) [bt.B]
167   175 (solve_subs.f) [bt.B]
168   199 (solve_subs.f) [bt.B]
169   206 (solve_subs.f) [bt.B]
170   226 (solve_subs.f) [bt.B]
171   227 (solve_subs.f) [bt.B]
172   228 (solve_subs.f) [bt.B]
173   229 (solve_subs.f) [bt.B]
174   232 (solve_subs.f) [bt.B]
175   233 (solve_subs.f) [bt.B]
176   234 (solve_subs.f) [bt.B]
177   235 (solve_subs.f) [bt.B]
178   238 (solve_subs.f) [bt.B]
179   239 (solve_subs.f) [bt.B]
180   241 (solve_subs.f) [bt.B]
181   242 (solve_subs.f) [bt.B]
182   243 (solve_subs.f) [bt.B]
183   245 (solve_subs.f) [bt.B]
184   246 (solve_subs.f) [bt.B]
185   247 (solve_subs.f) [bt.B]
186   250 (solve_subs.f) [bt.B]
187   252 (solve_subs.f) [bt.B]
188   253 (solve_subs.f) [bt.B]
189   254 (solve_subs.f) [bt.B]
190   255 (solve_subs.f) [bt.B]
191   256 (solve_subs.f) [bt.B]
192   257 (solve_subs.f) [bt.B]
193   258 (solve_subs.f) [bt.B]
194   259 (solve_subs.f) [bt.B]
195   262 (solve_subs.f) [bt.B]
196   263 (solve_subs.f) [bt.B]
197   264 (solve_subs.f) [bt.B]
198   265 (solve_subs.f) [bt.B]
199   266 (solve_subs.f) [bt.B]
200   267 (solve_subs.f) [bt.B]
201   268 (solve_subs.f) [bt.B]
202   269 (solve_subs.f) [bt.B]
203   270 (solve_subs.f) [bt.B]
204   271 (solve_subs.f) [bt.B]
205   274 (solve_subs.f) [bt.B]
206   275 (solve_subs.f) [bt.B]
207   276 (solve_subs.f) [bt.B]
208   277 (solve_subs.f) [bt.B]
209   278 (solve_subs.f) [bt.B]
210   279 (solve_subs.f) [bt.B]
211   280 (solve_subs.f) [bt.B]
212   281 (solve_subs.f) [bt.B]
213   282 (solve_subs.f) [bt.B]
214   283 (solve_subs.f) [bt.B]
215   286 (solve_subs.f) [bt.B]
216   287 (solve_subs.f) [bt.B]
217   288 (solve_subs.f) [bt.B]
218   289 (solve_subs.f) [bt.B]
219   290 (solve_subs.f) [bt.B]
220   292 (solve_subs.f) [bt.B]
221   293 (solve_subs.f) [bt.B]
222   295 (solve_subs.f) [bt.B]
223   298 (solve_subs.f) [bt.B]
224   299 (solve_subs.f) [bt.B]
225   300 (solve_subs.f) [bt.B]
226   301 (solve_subs.f) [bt.B]
227   302 (solve_subs.f) [bt.B]
228   303 (solve_subs.f) [bt.B]
229   304 (solve_subs.f) [bt.B]
230   305 (solve_subs.f) [bt.B]
231   306 (solve_subs.f) [bt.B]
232   309 (solve_subs.f) [bt.B]
233   311 (solve_subs.f) [bt.B]
234   312 (solve_subs.f) [bt.B]
235   313 (solve_subs.f) [bt.B]
236   314 (solve_subs.f) [bt.B]
237   315 (solve_subs.f) [bt.B]
238   316 (solve_subs.f) [bt.B]
239   317 (solve_subs.f) [bt.B]
240   320 (solve_subs.f) [bt.B]
241   321 (solve_subs.f) [bt.B]
242   323 (solve_subs.f) [bt.B]
243   324 (solve_subs.f) [bt.B]
244   325 (solve_subs.f) [bt.B]
245   326 (solve_subs.f) [bt.B]
246   327 (solve_subs.f) [bt.B]
247   328 (solve_subs.f) [bt.B]
248   331 (solve_subs.f) [bt.B]
249   332 (solve_subs.f) [bt.B]
250   333 (solve_subs.f) [bt.B]
251   334 (solve_subs.f) [bt.B]
252   335 (solve_subs.f) [bt.B]
253   336 (solve_subs.f) [bt.B]
254   337 (solve_subs.f) [bt.B]
255   338 (solve_subs.f) [bt.B]
256   339 (solve_subs.f) [bt.B]
257   342 (solve_subs.f) [bt.B]
258   344 (solve_subs.f) [bt.B]
259   345 (solve_subs.f) [bt.B]
260   346 (solve_subs.f) [bt.B]
261   347 (solve_subs.f) [bt.B]
262   348 (solve_subs.f) [bt.B]
263   349 (solve_subs.f) [bt.B]
264   350 (solve_subs.f) [bt.B]
265   353 (solve_subs.f) [bt.B]
266   354 (solve_subs.f) [bt.B]
267   355 (solve_subs.f) [bt.B]
268   356 (solve_subs.f) [bt.B]
269   357 (solve_subs.f) [bt.B]
270   358 (solve_subs.f) [bt.B]
271   359 (solve_subs.f) [bt.B]
272   360 (solve_subs.f) [bt.B]
273   363 (solve_subs.f) [bt.B]
274   364 (solve_subs.f) [bt.B]
275   366 (solve_subs.f) [bt.B]
276   367 (solve_subs.f) [bt.B]
277   370 (solve_subs.f) [bt.B]
278   373 (solve_subs.f) [bt.B]
279   377 (solve_subs.f) [bt.B]
280   378 (solve_subs.f) [bt.B]
281   380 (solve_subs.f) [bt.B]
282   383 (solve_subs.f) [bt.B]
283   384 (solve_subs.f) [bt.B]
284   385 (solve_subs.f) [bt.B]
285   386 (solve_subs.f) [bt.B]
286   387 (solve_subs.f) [bt.B]
287   388 (solve_subs.f) [bt.B]
288   389 (solve_subs.f) [bt.B]
289   390 (solve_subs.f) [bt.B]
290   393 (solve_subs.f) [bt.B]
291   396 (solve_subs.f) [bt.B]
292   397 (solve_subs.f) [bt.B]
293   398 (solve_subs.f) [bt.B]
294   399 (solve_subs.f) [bt.B]
295   400 (solve_subs.f) [bt.B]
296   403 (solve_subs.f) [bt.B]
297   404 (solve_subs.f) [bt.B]
298   405 (solve_subs.f) [bt.B]
299   406 (solve_subs.f) [bt.B]
300   407 (solve_subs.f) [bt.B]
301   408 (solve_subs.f) [bt.B]
302   409 (solve_subs.f) [bt.B]
303   412 (solve_subs.f) [bt.B]
304   413 (solve_subs.f) [bt.B]
305   414 (solve_subs.f) [bt.B]
306   415 (solve_subs.f) [bt.B]
307   416 (solve_subs.f) [bt.B]
308   417 (solve_subs.f) [bt.B]
309   418 (solve_subs.f) [bt.B]
310   421 (solve_subs.f) [bt.B]
311   423 (solve_subs.f) [bt.B]
312   424 (solve_subs.f) [bt.B]
313   425 (solve_subs.f) [bt.B]
314   426 (solve_subs.f) [bt.B]
315   427 (solve_subs.f) [bt.B]
316   430 (solve_subs.f) [bt.B]
317   431 (solve_subs.f) [bt.B]
318   432 (solve_subs.f) [bt.B]
319   433 (solve_subs.f) [bt.B]
320   434 (solve_subs.f) [bt.B]
321   435 (solve_subs.f) [bt.B]
322   436 (solve_subs.f) [bt.B]
323   441 (solve_subs.f) [bt.B]
324   442 (solve_subs.f) [bt.B]
325   443 (solve_subs.f) [bt.B]
326   444 (solve_subs.f) [bt.B]
327   445 (solve_subs.f) [bt.B]
328   448 (solve_subs.f) [bt.B]
329   449 (solve_subs.f) [bt.B]
330   450 (solve_subs.f) [bt.B]
331   451 (solve_subs.f) [bt.B]
332   452 (solve_subs.f) [bt.B]
333   456 (solve_subs.f) [bt.B]
334   457 (solve_subs.f) [bt.B]
335   458 (solve_subs.f) [bt.B]
336   459 (solve_subs.f) [bt.B]
337   460 (solve_subs.f) [bt.B]
338   465 (solve_subs.f) [bt.B]
339   466 (solve_subs.f) [bt.B]
340   472 (solve_subs.f) [bt.B]
341   473 (solve_subs.f) [bt.B]
342   475 (solve_subs.f) [bt.B]
343   476 (solve_subs.f) [bt.B]
344   477 (solve_subs.f) [bt.B]
345   481 (solve_subs.f) [bt.B]
346   509 (solve_subs.f) [bt.B]
347   511 (solve_subs.f) [bt.B]
348   512 (solve_subs.f) [bt.B]
349   526 (solve_subs.f) [bt.B]
350   545 (solve_subs.f) [bt.B]
351   565 (solve_subs.f) [bt.B]
352   577 (solve_subs.f) [bt.B]
353   586 (solve_subs.f) [bt.B]
354   592 (solve_subs.f) [bt.B]
355   48 (x_solve.f) [bt.B]
356   50 (x_solve.f) [bt.B]
357   51 (x_solve.f) [bt.B]
358   57 (x_solve.f) [bt.B]
359   59 (x_solve.f) [bt.B]
360   62 (x_solve.f) [bt.B]
361   64 (x_solve.f) [bt.B]
362   65 (x_solve.f) [bt.B]
363   66 (x_solve.f) [bt.B]
364   67 (x_solve.f) [bt.B]
365   68 (x_solve.f) [bt.B]
366   69 (x_solve.f) [bt.B]
367   71 (x_solve.f) [bt.B]
368   72 (x_solve.f) [bt.B]
369   73 (x_solve.f) [bt.B]
370   74 (x_solve.f) [bt.B]
371   77 (x_solve.f) [bt.B]
372   78 (x_solve.f) [bt.B]
373   79 (x_solve.f) [bt.B]
374   80 (x_solve.f) [bt.B]
375   81 (x_solve.f) [bt.B]
376   83 (x_solve.f) [bt.B]
377   84 (x_solve.f) [bt.B]
378   85 (x_solve.f) [bt.B]
379   88 (x_solve.f) [bt.B]
380   92 (x_solve.f) [bt.B]
381   97 (x_solve.f) [bt.B]
382   99 (x_solve.f) [bt.B]
383   100 (x_solve.f) [bt.B]
384   102 (x_solve.f) [bt.B]
385   103 (x_solve.f) [bt.B]
386   104 (x_solve.f) [bt.B]
387   105 (x_solve.f) [bt.B]
388   106 (x_solve.f) [bt.B]
389   109 (x_solve.f) [bt.B]
390   110 (x_solve.f) [bt.B]
391   111 (x_solve.f) [bt.B]
392   112 (x_solve.f) [bt.B]
393   114 (x_solve.f) [bt.B]
394   115 (x_solve.f) [bt.B]
395   116 (x_solve.f) [bt.B]
396   118 (x_solve.f) [bt.B]
397   120 (x_solve.f) [bt.B]
398   122 (x_solve.f) [bt.B]
399   123 (x_solve.f) [bt.B]
400   124 (x_solve.f) [bt.B]
401   126 (x_solve.f) [bt.B]
402   137 (x_solve.f) [bt.B]
403   142 (x_solve.f) [bt.B]
404   143 (x_solve.f) [bt.B]
405   145 (x_solve.f) [bt.B]
406   147 (x_solve.f) [bt.B]
407   149 (x_solve.f) [bt.B]
408   151 (x_solve.f) [bt.B]
409   154 (x_solve.f) [bt.B]
410   155 (x_solve.f) [bt.B]
411   156 (x_solve.f) [bt.B]
412   157 (x_solve.f) [bt.B]
413   163 (x_solve.f) [bt.B]
414   166 (x_solve.f) [bt.B]
415   167 (x_solve.f) [bt.B]
416   170 (x_solve.f) [bt.B]
417   174 (x_solve.f) [bt.B]
418   175 (x_solve.f) [bt.B]
419   180 (x_solve.f) [bt.B]
420   181 (x_solve.f) [bt.B]
421   182 (x_solve.f) [bt.B]
422   184 (x_solve.f) [bt.B]
423   187 (x_solve.f) [bt.B]
424   190 (x_solve.f) [bt.B]
425   191 (x_solve.f) [bt.B]
426   192 (x_solve.f) [bt.B]
427   194 (x_solve.f) [bt.B]
428   195 (x_solve.f) [bt.B]
429   196 (x_solve.f) [bt.B]
430   197 (x_solve.f) [bt.B]
431   198 (x_solve.f) [bt.B]
432   199 (x_solve.f) [bt.B]
433   206 (x_solve.f) [bt.B]
434   210 (x_solve.f) [bt.B]
435   211 (x_solve.f) [bt.B]
436   212 (x_solve.f) [bt.B]
437   214 (x_solve.f) [bt.B]
438   215 (x_solve.f) [bt.B]
439   216 (x_solve.f) [bt.B]
440   219 (x_solve.f) [bt.B]
441   220 (x_solve.f) [bt.B]
442   221 (x_solve.f) [bt.B]
443   223 (x_solve.f) [bt.B]
444   224 (x_solve.f) [bt.B]
445   226 (x_solve.f) [bt.B]
446   227 (x_solve.f) [bt.B]
447   228 (x_solve.f) [bt.B]
448   229 (x_solve.f) [bt.B]
449   230 (x_solve.f) [bt.B]
450   232 (x_solve.f) [bt.B]
451   234 (x_solve.f) [bt.B]
452   235 (x_solve.f) [bt.B]
453   236 (x_solve.f) [bt.B]
454   237 (x_solve.f) [bt.B]
455   238 (x_solve.f) [bt.B]
456   239 (x_solve.f) [bt.B]
457   242 (x_solve.f) [bt.B]
458   245 (x_solve.f) [bt.B]
459   247 (x_solve.f) [bt.B]
460   249 (x_solve.f) [bt.B]
461   250 (x_solve.f) [bt.B]
462   251 (x_solve.f) [bt.B]
463   252 (x_solve.f) [bt.B]
464   254 (x_solve.f) [bt.B]
465   257 (x_solve.f) [bt.B]
466   261 (x_solve.f) [bt.B]
467   263 (x_solve.f) [bt.B]
468   266 (x_solve.f) [bt.B]
469   267 (x_solve.f) [bt.B]
470   268 (x_solve.f) [bt.B]
471   269 (x_solve.f) [bt.B]
472   270 (x_solve.f) [bt.B]
473   271 (x_solve.f) [bt.B]
474   273 (x_solve.f) [bt.B]
475   274 (x_solve.f) [bt.B]
476   275 (x_solve.f) [bt.B]
477   276 (x_solve.f) [bt.B]
478   278 (x_solve.f) [bt.B]
479   280 (x_solve.f) [bt.B]
480   281 (x_solve.f) [bt.B]
481   282 (x_solve.f) [bt.B]
482   284 (x_solve.f) [bt.B]
483   285 (x_solve.f) [bt.B]
484   287 (x_solve.f) [bt.B]
485   292 (x_solve.f) [bt.B]
486   294 (x_solve.f) [bt.B]
487   295 (x_solve.f) [bt.B]
488   296 (x_solve.f) [bt.B]
489   298 (x_solve.f) [bt.B]
490   299 (x_solve.f) [bt.B]
491   333 (x_solve.f) [bt.B]
492   338 (x_solve.f) [bt.B]
493   344 (x_solve.f) [bt.B]
494   353 (x_solve.f) [bt.B]
495   386 (x_solve.f) [bt.B]
496   388 (x_solve.f) [bt.B]
497   389 (x_solve.f) [bt.B]
498   390 (x_solve.f) [bt.B]
499   48 (y_solve.f) [bt.B]
500   49 (y_solve.f) [bt.B]
501   52 (y_solve.f) [bt.B]
502   53 (y_solve.f) [bt.B]
503   58 (y_solve.f) [bt.B]
504   59 (y_solve.f) [bt.B]
505   60 (y_solve.f) [bt.B]
506   61 (y_solve.f) [bt.B]
507   62 (y_solve.f) [bt.B]
508   63 (y_solve.f) [bt.B]
509   65 (y_solve.f) [bt.B]
510   66 (y_solve.f) [bt.B]
511   67 (y_solve.f) [bt.B]
512   68 (y_solve.f) [bt.B]
513   71 (y_solve.f) [bt.B]
514   73 (y_solve.f) [bt.B]
515   75 (y_solve.f) [bt.B]
516   76 (y_solve.f) [bt.B]
517   78 (y_solve.f) [bt.B]
518   80 (y_solve.f) [bt.B]
519   81 (y_solve.f) [bt.B]
520   82 (y_solve.f) [bt.B]
521   84 (y_solve.f) [bt.B]
522   85 (y_solve.f) [bt.B]
523   87 (y_solve.f) [bt.B]
524   89 (y_solve.f) [bt.B]
525   93 (y_solve.f) [bt.B]
526   95 (y_solve.f) [bt.B]
527   96 (y_solve.f) [bt.B]
528   97 (y_solve.f) [bt.B]
529   101 (y_solve.f) [bt.B]
530   102 (y_solve.f) [bt.B]
531   103 (y_solve.f) [bt.B]
532   105 (y_solve.f) [bt.B]
533   106 (y_solve.f) [bt.B]
534   107 (y_solve.f) [bt.B]
535   108 (y_solve.f) [bt.B]
536   109 (y_solve.f) [bt.B]
537   111 (y_solve.f) [bt.B]
538   112 (y_solve.f) [bt.B]
539   113 (y_solve.f) [bt.B]
540   115 (y_solve.f) [bt.B]
541   117 (y_solve.f) [bt.B]
542   120 (y_solve.f) [bt.B]
543   121 (y_solve.f) [bt.B]
544   122 (y_solve.f) [bt.B]
545   124 (y_solve.f) [bt.B]
546   127 (y_solve.f) [bt.B]
547   128 (y_solve.f) [bt.B]
548   136 (y_solve.f) [bt.B]
549   141 (y_solve.f) [bt.B]
550   142 (y_solve.f) [bt.B]
551   144 (y_solve.f) [bt.B]
552   146 (y_solve.f) [bt.B]
553   148 (y_solve.f) [bt.B]
554   149 (y_solve.f) [bt.B]
555   150 (y_solve.f) [bt.B]
556   151 (y_solve.f) [bt.B]
557   153 (y_solve.f) [bt.B]
558   155 (y_solve.f) [bt.B]
559   158 (y_solve.f) [bt.B]
560   160 (y_solve.f) [bt.B]
561   162 (y_solve.f) [bt.B]
562   165 (y_solve.f) [bt.B]
563   167 (y_solve.f) [bt.B]
564   168 (y_solve.f) [bt.B]
565   169 (y_solve.f) [bt.B]
566   172 (y_solve.f) [bt.B]
567   174 (y_solve.f) [bt.B]
568   177 (y_solve.f) [bt.B]
569   179 (y_solve.f) [bt.B]
570   181 (y_solve.f) [bt.B]
571   182 (y_solve.f) [bt.B]
572   183 (y_solve.f) [bt.B]
573   184 (y_solve.f) [bt.B]
574   186 (y_solve.f) [bt.B]
575   187 (y_solve.f) [bt.B]
576   189 (y_solve.f) [bt.B]
577   191 (y_solve.f) [bt.B]
578   192 (y_solve.f) [bt.B]
579   193 (y_solve.f) [bt.B]
580   195 (y_solve.f) [bt.B]
581   196 (y_solve.f) [bt.B]
582   197 (y_solve.f) [bt.B]
583   198 (y_solve.f) [bt.B]
584   199 (y_solve.f) [bt.B]
585   201 (y_solve.f) [bt.B]
586   204 (y_solve.f) [bt.B]
587   205 (y_solve.f) [bt.B]
588   206 (y_solve.f) [bt.B]
589   209 (y_solve.f) [bt.B]
590   210 (y_solve.f) [bt.B]
591   213 (y_solve.f) [bt.B]
592   215 (y_solve.f) [bt.B]
593   219 (y_solve.f) [bt.B]
594   222 (y_solve.f) [bt.B]
595   223 (y_solve.f) [bt.B]
596   225 (y_solve.f) [bt.B]
597   226 (y_solve.f) [bt.B]
598   227 (y_solve.f) [bt.B]
599   228 (y_solve.f) [bt.B]
600   229 (y_solve.f) [bt.B]
601   231 (y_solve.f) [bt.B]
602   233 (y_solve.f) [bt.B]
603   234 (y_solve.f) [bt.B]
604   235 (y_solve.f) [bt.B]
605   236 (y_solve.f) [bt.B]
606   237 (y_solve.f) [bt.B]
607   238 (y_solve.f) [bt.B]
608   241 (y_solve.f) [bt.B]
609   242 (y_solve.f) [bt.B]
610   245 (y_solve.f) [bt.B]
611   247 (y_solve.f) [bt.B]
612   248 (y_solve.f) [bt.B]
613   249 (y_solve.f) [bt.B]
614   250 (y_solve.f) [bt.B]
615   251 (y_solve.f) [bt.B]
616   253 (y_solve.f) [bt.B]
617   255 (y_solve.f) [bt.B]
618   258 (y_solve.f) [bt.B]
619   259 (y_solve.f) [bt.B]
620   261 (y_solve.f) [bt.B]
621   265 (y_solve.f) [bt.B]
622   266 (y_solve.f) [bt.B]
623   267 (y_solve.f) [bt.B]
624   268 (y_solve.f) [bt.B]
625   269 (y_solve.f) [bt.B]
626   272 (y_solve.f) [bt.B]
627   275 (y_solve.f) [bt.B]
628   277 (y_solve.f) [bt.B]
629   278 (y_solve.f) [bt.B]
630   279 (y_solve.f) [bt.B]
631   281 (y_solve.f) [bt.B]
632   282 (y_solve.f) [bt.B]
633   283 (y_solve.f) [bt.B]
634   284 (y_solve.f) [bt.B]
635   289 (y_solve.f) [bt.B]
636   291 (y_solve.f) [bt.B]
637   293 (y_solve.f) [bt.B]
638   294 (y_solve.f) [bt.B]
639   295 (y_solve.f) [bt.B]
640   296 (y_solve.f) [bt.B]
641   297 (y_solve.f) [bt.B]
642   298 (y_solve.f) [bt.B]
643   328 (y_solve.f) [bt.B]
644   335 (y_solve.f) [bt.B]
645   341 (y_solve.f) [bt.B]
646   349 (y_solve.f) [bt.B]
647   385 (y_solve.f) [bt.B]
648   387 (y_solve.f) [bt.B]
649   388 (y_solve.f) [bt.B]
650   389 (y_solve.f) [bt.B]
651   45 (z_solve.f) [bt.B]
652   46 (z_solve.f) [bt.B]
653   49 (z_solve.f) [bt.B]
654   50 (z_solve.f) [bt.B]
655   55 (z_solve.f) [bt.B]
656   58 (z_solve.f) [bt.B]
657   59 (z_solve.f) [bt.B]
658   60 (z_solve.f) [bt.B]
659   61 (z_solve.f) [bt.B]
660   62 (z_solve.f) [bt.B]
661   65 (z_solve.f) [bt.B]
662   68 (z_solve.f) [bt.B]
663   70 (z_solve.f) [bt.B]
664   72 (z_solve.f) [bt.B]
665   73 (z_solve.f) [bt.B]
666   74 (z_solve.f) [bt.B]
667   76 (z_solve.f) [bt.B]
668   78 (z_solve.f) [bt.B]
669   80 (z_solve.f) [bt.B]
670   81 (z_solve.f) [bt.B]
671   82 (z_solve.f) [bt.B]
672   83 (z_solve.f) [bt.B]
673   89 (z_solve.f) [bt.B]
674   99 (z_solve.f) [bt.B]
675   100 (z_solve.f) [bt.B]
676   102 (z_solve.f) [bt.B]
677   105 (z_solve.f) [bt.B]
678   106 (z_solve.f) [bt.B]
679   108 (z_solve.f) [bt.B]
680   111 (z_solve.f) [bt.B]
681   112 (z_solve.f) [bt.B]
682   113 (z_solve.f) [bt.B]
683   114 (z_solve.f) [bt.B]
684   115 (z_solve.f) [bt.B]
685   118 (z_solve.f) [bt.B]
686   121 (z_solve.f) [bt.B]
687   122 (z_solve.f) [bt.B]
688   124 (z_solve.f) [bt.B]
689   125 (z_solve.f) [bt.B]
690   126 (z_solve.f) [bt.B]
691   137 (z_solve.f) [bt.B]
692   142 (z_solve.f) [bt.B]
693   143 (z_solve.f) [bt.B]
694   145 (z_solve.f) [bt.B]
695   146 (z_solve.f) [bt.B]
696   147 (z_solve.f) [bt.B]
697   149 (z_solve.f) [bt.B]
698   151 (z_solve.f) [bt.B]
699   152 (z_solve.f) [bt.B]
700   154 (z_solve.f) [bt.B]
701   156 (z_solve.f) [bt.B]
702   159 (z_solve.f) [bt.B]
703   162 (z_solve.f) [bt.B]
704   163 (z_solve.f) [bt.B]
705   166 (z_solve.f) [bt.B]
706   168 (z_solve.f) [bt.B]
707   169 (z_solve.f) [bt.B]
708   170 (z_solve.f) [bt.B]
709   173 (z_solve.f) [bt.B]
710   175 (z_solve.f) [bt.B]
711   178 (z_solve.f) [bt.B]
712   179 (z_solve.f) [bt.B]
713   180 (z_solve.f) [bt.B]
714   184 (z_solve.f) [bt.B]
715   185 (z_solve.f) [bt.B]
716   187 (z_solve.f) [bt.B]
717   190 (z_solve.f) [bt.B]
718   191 (z_solve.f) [bt.B]
719   192 (z_solve.f) [bt.B]
720   193 (z_solve.f) [bt.B]
721   194 (z_solve.f) [bt.B]
722   195 (z_solve.f) [bt.B]
723   196 (z_solve.f) [bt.B]
724   198 (z_solve.f) [bt.B]
725   199 (z_solve.f) [bt.B]
726   200 (z_solve.f) [bt.B]
727   202 (z_solve.f) [bt.B]
728   207 (z_solve.f) [bt.B]
729   208 (z_solve.f) [bt.B]
730   210 (z_solve.f) [bt.B]
731   211 (z_solve.f) [bt.B]
732   212 (z_solve.f) [bt.B]
733   214 (z_solve.f) [bt.B]
734   215 (z_solve.f) [bt.B]
735   216 (z_solve.f) [bt.B]
736   220 (z_solve.f) [bt.B]
737   223 (z_solve.f) [bt.B]
738   224 (z_solve.f) [bt.B]
739   226 (z_solve.f) [bt.B]
740   227 (z_solve.f) [bt.B]
741   229 (z_solve.f) [bt.B]
742   230 (z_solve.f) [bt.B]
743   234 (z_solve.f) [bt.B]
744   235 (z_solve.f) [bt.B]
745   236 (z_solve.f) [bt.B]
746   237 (z_solve.f) [bt.B]
747   238 (z_solve.f) [bt.B]
748   242 (z_solve.f) [bt.B]
749   245 (z_solve.f) [bt.B]
750   247 (z_solve.f) [bt.B]
751   249 (z_solve.f) [bt.B]
752   250 (z_solve.f) [bt.B]
753   251 (z_solve.f) [bt.B]
754   252 (z_solve.f) [bt.B]
755   254 (z_solve.f) [bt.B]
756   256 (z_solve.f) [bt.B]
757   257 (z_solve.f) [bt.B]
758   263 (z_solve.f) [bt.B]
759   264 (z_solve.f) [bt.B]
760   266 (z_solve.f) [bt.B]
761   267 (z_solve.f) [bt.B]
762   270 (z_solve.f) [bt.B]
763   273 (z_solve.f) [bt.B]
764   274 (z_solve.f) [bt.B]
765   276 (z_solve.f) [bt.B]
766   278 (z_solve.f) [bt.B]
767   279 (z_solve.f) [bt.B]
768   281 (z_solve.f) [bt.B]
769   282 (z_solve.f) [bt.B]
770   284 (z_solve.f) [bt.B]
771   285 (z_solve.f) [bt.B]
772   287 (z_solve.f) [bt.B]
773   290 (z_solve.f) [bt.B]
774   292 (z_solve.f) [bt.B]
775   294 (z_solve.f) [bt.B]
776   295 (z_solve.f) [bt.B]
777   296 (z_solve.f) [bt.B]
778   297 (z_solve.f) [bt.B]
779   298 (z_solve.f) [bt.B]
780   299 (z_solve.f) [bt.B]
781   334 (z_solve.f) [bt.B]
782   341 (z_solve.f) [bt.B]
783   348 (z_solve.f) [bt.B]
784   398 (z_solve.f) [bt.B]
785   400 (z_solve.f) [bt.B]
786   401 (z_solve.f) [bt.B]
787   402 (z_solve.f) [bt.B]


EVENT_TYPE
9    40000018    Tracing mode:
VALUES
1      Detailed
2      CPU Bursts


