*.swp
Makefile.in
aclocal.m4
autom4te.cache/
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/libtool.m4
config/ltmain.sh
config/ltoptions.m4
config/ltsugar.m4
config/ltversion.m4
config/lt~obsolete.m4
config/missing
configure
doc/Makefile.in
folding-config.h.in
src/Makefile.in
src/codeblocks/Makefile.in
src/common/Makefile.in
src/extract/Makefile.in
src/fuse/Makefile.in
src/gui/Makefile.in
src/gui/cube-plugins/Makefile.in
src/gui/cube-plugins/source-code/Makefile.in
src/gui/cube-plugins/time-line/Makefile.in
src/gui/qcustomplot/Makefile.in
src/interpolate/Makefile.in
src/interpolate/callstack-processor/Makefile.in
src/interpolate/gnuplot/Makefile.in
src/interpolate/model/Makefile.in
src/interpolate/service-R/Makefile.in
src/interpolate/service-kriger/Makefile.in
src/io/Makefile.in
src/others/Makefile.in
Makefile
config.log
config.status
doc/Makefile
folding-config.h
libtool
src/Makefile
src/codeblocks/.deps/
src/codeblocks/Makefile
src/common/.deps/
src/common/Makefile
src/extract/.deps/
src/extract/Makefile
src/fuse/.deps/
src/fuse/Makefile
src/gui/Makefile
src/gui/cube-plugins/Makefile
src/gui/cube-plugins/source-code/.deps/
src/gui/cube-plugins/source-code/Makefile
src/gui/cube-plugins/time-line/.deps/
src/gui/cube-plugins/time-line/Makefile
src/gui/qcustomplot/1.3.1/qcustomplot/.deps/
src/gui/qcustomplot/Makefile
src/interpolate/.deps/
src/interpolate/Makefile
src/interpolate/callstack-processor/.deps/
src/interpolate/callstack-processor/Makefile
src/interpolate/gnuplot/.deps/
src/interpolate/gnuplot/Makefile
src/interpolate/model/.deps/
src/interpolate/model/Makefile
src/interpolate/service-R/.deps/
src/interpolate/service-R/Makefile
src/interpolate/service-kriger/.deps/
src/interpolate/service-kriger/Makefile
src/io/.deps/
src/io/Makefile
src/others/.deps/
src/others/Makefile
stamp-h1
src/codeblocks/.libs/
src/codeblocks/codeblocks
src/codeblocks/codeblocks-codeblocks.o
src/common/.libs/
src/common/libcommon.la
src/common/libcommon_la-callstack-codereftriplet.lo
src/common/libcommon_la-callstack-codereftriplet.o
src/common/libcommon_la-codereftriplet.lo
src/common/libcommon_la-codereftriplet.o
src/common/libcommon_la-common-math.lo
src/common/libcommon_la-common-math.o
src/common/libcommon_la-common.lo
src/common/libcommon_la-common.o
src/common/libcommon_la-data-object.lo
src/common/libcommon_la-data-object.o
src/common/libcommon_la-object-selection.lo
src/common/libcommon_la-object-selection.o
src/common/libcommon_la-prv-colors.lo
src/common/libcommon_la-prv-colors.o
src/common/libcommon_la-sample.lo
src/common/libcommon_la-sample.o
src/common/libpcf-common.la
src/common/libpcf_common_la-pcf-common.lo
src/common/libpcf_common_la-pcf-common.o
src/extract/.libs/
src/extract/extract
src/extract/extract-extract.o
src/extract/extract-prv-semantic-CSV.o
src/fuse/.libs/
src/fuse/fuse
src/fuse/fuse-fuse.o
src/interpolate/.libs/
src/interpolate/callstack-processor/.libs/
src/interpolate/callstack-processor/libcallstack-processor.la
src/interpolate/callstack-processor/libcallstack_processor_la-callstack-processor-consecutive-recursive-ctrl.lo
src/interpolate/callstack-processor/libcallstack_processor_la-callstack-processor-consecutive-recursive-ctrl.o
src/interpolate/callstack-processor/libcallstack_processor_la-callstack-processor-consecutive-recursive.lo
src/interpolate/callstack-processor/libcallstack_processor_la-callstack-processor-consecutive-recursive.o
src/interpolate/callstack-processor/libcallstack_processor_la-callstack-processor.lo
src/interpolate/callstack-processor/libcallstack_processor_la-callstack-processor.o
src/interpolate/gnuplot/.libs/
src/interpolate/gnuplot/libgnuplot.la
src/interpolate/gnuplot/libgnuplot_la-generate-gnuplot-callstack.lo
src/interpolate/gnuplot/libgnuplot_la-generate-gnuplot-callstack.o
src/interpolate/gnuplot/libgnuplot_la-generate-gnuplot-references.lo
src/interpolate/gnuplot/libgnuplot_la-generate-gnuplot-references.o
src/interpolate/gnuplot/libgnuplot_la-generate-gnuplot.lo
src/interpolate/gnuplot/libgnuplot_la-generate-gnuplot.o
src/interpolate/interpolate
src/interpolate/interpolate-codereftriplet-accounting.o
src/interpolate/interpolate-instance-container.o
src/interpolate/interpolate-instance-group.o
src/interpolate/interpolate-instance-separator-auto.o
src/interpolate/interpolate-instance-separator-none.o
src/interpolate/interpolate-instance-separator.o
src/interpolate/interpolate-instance.o
src/interpolate/interpolate-interpolate.o
src/interpolate/interpolate-interpolation-R-strucchange.o
src/interpolate/interpolate-interpolation-kriger.o
src/interpolate/interpolate-interpolation-results.o
src/interpolate/interpolate-interpolation.o
src/interpolate/interpolate-prv-writer.o
src/interpolate/interpolate-sample-selector-default.o
src/interpolate/interpolate-sample-selector-distance-fast.o
src/interpolate/interpolate-sample-selector-distance.o
src/interpolate/interpolate-sample-selector-first.o
src/interpolate/model/.libs/
src/interpolate/model/libmodel.la
src/interpolate/model/libmodel_la-componentmodel.lo
src/interpolate/model/libmodel_la-componentmodel.o
src/interpolate/model/libmodel_la-componentnode.lo
src/interpolate/model/libmodel_la-componentnode.o
src/interpolate/model/libmodel_la-componentnode_constant.lo
src/interpolate/model/libmodel_la-componentnode_constant.o
src/interpolate/model/libmodel_la-componentnode_data.lo
src/interpolate/model/libmodel_la-componentnode_data.o
src/interpolate/model/libmodel_la-componentnode_derived.lo
src/interpolate/model/libmodel_la-componentnode_derived.o
src/interpolate/model/libmodel_la-model.lo
src/interpolate/model/libmodel_la-model.o
src/interpolate/service-R/.libs/
src/interpolate/service-R/libR.la
src/interpolate/service-R/libR_la-execute-R.lo
src/interpolate/service-R/libR_la-execute-R.o
src/interpolate/service-kriger/.libs/
src/interpolate/service-kriger/Kriger.lo
src/interpolate/service-kriger/Kriger.o
src/interpolate/service-kriger/call_Kriger.lo
src/interpolate/service-kriger/call_Kriger.o
src/interpolate/service-kriger/def_kinrea.lo
src/interpolate/service-kriger/def_kinrea.mod
src/interpolate/service-kriger/def_kinrea.o
src/interpolate/service-kriger/def_kriger.lo
src/interpolate/service-kriger/def_kriger.mod
src/interpolate/service-kriger/def_kriger.o
src/interpolate/service-kriger/kri_covarm.lo
src/interpolate/service-kriger/kri_covarm.o
src/interpolate/service-kriger/kri_defgri.lo
src/interpolate/service-kriger/kri_defgri.o
src/interpolate/service-kriger/kri_findpi.lo
src/interpolate/service-kriger/kri_findpi.o
src/interpolate/service-kriger/kri_interp.lo
src/interpolate/service-kriger/kri_interp.o
src/interpolate/service-kriger/kri_memall.lo
src/interpolate/service-kriger/kri_memall.o
src/interpolate/service-kriger/kri_mstock.lo
src/interpolate/service-kriger/kri_mstock.o
src/interpolate/service-kriger/kri_openfi.lo
src/interpolate/service-kriger/kri_openfi.o
src/interpolate/service-kriger/kri_solsys.lo
src/interpolate/service-kriger/kri_solsys.o
src/interpolate/service-kriger/kriger_test
src/interpolate/service-kriger/libkriger.la
src/interpolate/service-kriger/libkriger_la-kriger_wrapper.lo
src/interpolate/service-kriger/libkriger_la-kriger_wrapper.o
src/interpolate/service-kriger/test.o
src/io/.libs/
src/io/libfolding-io-reader.la
src/io/libfolding-io-writer.la
src/io/libfolding_io_reader_la-folding-reader.lo
src/io/libfolding_io_reader_la-folding-reader.o
src/io/libfolding_io_writer_la-folding-writer.lo
src/io/libfolding_io_writer_la-folding-writer.o
src/others/.libs/
src/others/foldingtypes
src/others/foldingtypes-folding-types.o
src/others/max-diff-interpolation-points
src/others/max-diff-interpolation-points.o
src/others/mean-diff-interpolation-points
folding.config
folding.creator
folding.creator.user
folding.files
folding.includes
helloworld/
libtools/

src/others/mean-diff-interpolation-points.o
*~
tags
