DEFAULT_OPTIONS

LEVEL               THREAD
UNITS               NANOSEC
LOOK_BACK           100
SPEED               1
FLAG_ICONS          ENABLED
NUM_OF_STATE_COLORS 1000
YMAX_SCALE          37


DEFAULT_SEMANTIC

THREAD_FUNC          State As Is


STATES
0    Idle
1    Running
2    Not created
3    Waiting a message
4    Blocking Send
5    Synchronization
6    Test/Probe
7    Scheduling and Fork/Join
8    Wait/WaitAll
9    Blocked
10    Immediate Send
11    Immediate Receive
12    I/O
13    Group Communication
14    Tracing Disabled
15    Others
16    Send Receive
17    Memory transfer


STATES_COLOR
0	{117,195,255}
1	{0,0,255}
2	{255,255,255}
3	{255,0,0}
4	{255,0,174}
5	{179,0,0}
6	{0,255,0}
7	{255,255,0}
8	{235,0,0}
9	{0,162,0}
10	{255,0,255}


EVENT_TYPE
6    40000001    Application
6    40000003    Flushing Traces
6    40000004    I/O Read
6    40000005    I/O Write
VALUES
1      Begin
0      End


EVENT_TYPE
6    40000012    Tracing
VALUES
0      Disabled
1      Enabled


EVENT_TYPE
6    40000011    I/O Size


EVENT_TYPE
1    50100001    Send Size in MPI Global OP
1    50100002    Recv Size in MPI Global OP
1    50100003    Root in MPI Global OP
1    50100004    Communicator in MPI Global OP


EVENT_TYPE
1    51100001    Send Size in PACX Global OP
1    51100002    Recv Size in PACX Global OP
1    51100003    Root in PACX Global OP
1    51100004    Communicator in PACX Global OP


EVENT_TYPE
9   50000001    MPI Point-to-point
VALUES
4   MPI_Irecv
3   MPI_Isend
6   MPI_Waitall
0   Outside MPI


EVENT_TYPE
9   50000002    MPI Collective Comm
VALUES
10   MPI_Allreduce
8   MPI_Barrier
7   MPI_Bcast
0   Outside MPI


EVENT_TYPE
9   50000003    MPI Other
VALUES
21   MPI_Comm_create
19   MPI_Comm_rank
20   MPI_Comm_size
32   MPI_Finalize
31   MPI_Init
0   Outside MPI


EVENT_TYPE
0   3000   Linear host number
0   3001   Linecard
0   3002   Node inside linecard


EVENT_TYPE
7  42001090  (PM_INST_CMPL)
7  42001008  (PM_CYC)
7  42001073  (PM_GCT_EMPTY_CYC)
7  42001145  (PM_LSU_LMQ_SRQ_EMPTY_CYC)
7  42001086  (PM_HV_CYC)
7  42001001  (PM_1PLUS_PPC_CMPL)
7  42001079  (PM_GRP_CMPL)
7  42001211  (PM_TB_BIT_TRANS)
7  42001220  (PM_CMPLU_STALL_OTHER)
7  42001221  (PM_CMPLU_STALL_DCACHE_MISS)
7  42001134  (PM_LSU_DERAT_MISS)
7  42001222  (PM_CMPLU_STALL_REJECT)
7  42001105  (PM_LD_MISS_L1)
7  42001108  (PM_LD_REF_L1)
7  42001225  (PM_IOPS_CMPL)
7  42001226  (PM_CMPLU_STALL_FDIV)
7  42001060  (PM_FPU_FSQRT)
7  42001227  (PM_CMPLU_STALL_FPU)
7  42001054  (PM_FPU_FDIV)
7  42001057  (PM_FPU_FMA)
7  42001074  (PM_GCT_EMPTY_SRQ_FULL)
7  42001071  (PM_FXU_FIN)
7  42001056  (PM_FPU_FIN)
7  42001223  (PM_CMPLU_STALL_FXU)
7  42001070  (PM_FXU_BUSY)
7  42001224  (PM_CMPLU_STALL_DIV)
7  42001135  (PM_LSU_FLUSH)
7  42001023  (PM_FLUSH_LSU_BR_MPRED)
7  42001218  (PM_CMPLU_STALL_LSU)
7  42001219  (PM_CMPLU_STALL_ERAT_MISS)
7  42001022  (PM_FLUSH_BR_MPRED)
7  42001005  (PM_BR_MPRED_TA)
7  42001228  (PM_GCT_EMPTY_IC_MISS)
7  42001229  (PM_GCT_EMPTY_BR_MPRED)
7  42001102  (PM_L1_WRITE_CYC)
7  42009999 Active hardware counter set


GRADIENT_COLOR
0    {0,255,2}
1    {0,244,13}
2    {0,232,25}
3    {0,220,37}
4    {0,209,48}
5    {0,197,60}
6    {0,185,72}
7    {0,173,84}
8    {0,162,95}
9    {0,150,107}
10    {0,138,119}
11    {0,127,130}
12    {0,115,142}
13    {0,103,154}
14    {0,91,166}


GRADIENT_NAMES
0    Gradient 0
1    Grad. 1/MPI Events
2    Grad. 2/OMP Events
3    Grad. 3/OMP locks
4    Grad. 4/User func
5    Grad. 5/User Events
6    Grad. 6/General Events
7    Grad. 7/Hardware Counters
8    Gradient 8
9    Gradient 9
10    Gradient 10
11    Gradient 11
12    Gradient 12
13    Gradient 13
14    Gradient 14


EVENT_TYPE
0    70000001    Caller at level 1
0    70000002    Caller at level 2
0    70000003    Caller at level 3
VALUES
0   End
1   Unresolved
2   _NOT_Found
3   init_communicate
4   cgpop
5   get_num_procs
6   init_domain_blocks
7   broadcast_scalar_char
8   global_maxval_scalar_int
9   init_domain_distribution
10   broadcast_scalar_int
11   init_solvers
12   broadcast_scalar_log
13   read_tiles_dbl
14   read_solveriot
15   sio_close
16   initdof
17   linearfind
18   global_minval_scalar_int
19   global_sum_scalar_int
20   mpi2s_gshalo_init
21   linearorderedfind
22   mpi2s_gshalo_update_2d_int
23   mpi2s_gshalo_update_2d_dbl
24   update_halo
25   convertstencil
26   global_sum_scalar_dbl
27   pcg_chrongear_linear
28   global_sum_vector_dbl
29   matvec
30   esolver
31   convert2dtolinear
32   checkanswers
33   global_maxval_scalar_dbl
34   timer_print
35   exit_message_environment


EVENT_TYPE
0    80000001    Caller line at level 1
0    80000002    Caller line at level 2
0    80000003    Caller line at level 3
VALUES
0   End
1   0 (Unresolved)
2   0 (_NOT_Found)
3   131 (broadcast.f90)
4   166 (broadcast.f90)
5   202 (broadcast.f90)
6   55 (cgpop.f90)
7   56 (cgpop.f90)
8   83 (cgpop.f90)
9   84 (cgpop.f90)
10   87 (cgpop.f90)
11   88 (cgpop.f90)
12   101 (cgpop.f90)
13   52 (check.f90)
14   71 (communicate.f90)
15   98 (communicate.f90)
16   115 (communicate.f90)
17   88 (io_serial.f90)
18   92 (io_serial.f90)
19   649 (io_serial.f90)
20   104 (linear.f90)
21   105 (linear.f90)
22   178 (linear.f90)
23   210 (linear.f90)
24   367 (linear.f90)
25   372 (linear.f90)
26   373 (linear.f90)
27   374 (linear.f90)
28   381 (linear.f90)
29   386 (linear.f90)
30   399 (linear.f90)
31   409 (linear.f90)
32   415 (linear.f90)
33   496 (linear.f90)
34   497 (linear.f90)
35   515 (linear.f90)
36   104 (matrix_mod.f90)
37   105 (matrix_mod.f90)
38   106 (matrix_mod.f90)
39   108 (matrix_mod.f90)
40   122 (matrix_mod.f90)
41   150 (matrix_mod.f90)
42   153 (matrix_mod.f90)
43   160 (matrix_mod.f90)
44   166 (matrix_mod.f90)
45   168 (matrix_mod.f90)
46   169 (matrix_mod.f90)
47   182 (matrix_mod.f90)
48   185 (matrix_mod.f90)
49   192 (matrix_mod.f90)
50   198 (matrix_mod.f90)
51   200 (matrix_mod.f90)
52   201 (matrix_mod.f90)
53   209 (matrix_mod.f90)
54   211 (matrix_mod.f90)
55   224 (matrix_mod.f90)
56   269 (matrix_mod.f90)
57   270 (matrix_mod.f90)
58   271 (matrix_mod.f90)
59   273 (matrix_mod.f90)
60   275 (matrix_mod.f90)
61   81 (mpi2s_gshalo.f90)
62   89 (mpi2s_gshalo.f90)
63   96 (mpi2s_gshalo.f90)
64   99 (mpi2s_gshalo.f90)
65   100 (mpi2s_gshalo.f90)
66   106 (mpi2s_gshalo.f90)
67   164 (mpi2s_gshalo.f90)
68   175 (mpi2s_gshalo.f90)
69   179 (mpi2s_gshalo.f90)
70   181 (mpi2s_gshalo.f90)
71   251 (mpi2s_gshalo.f90)
72   252 (mpi2s_gshalo.f90)
73   293 (mpi2s_gshalo.f90)
74   347 (mpi2s_gshalo.f90)
75   357 (mpi2s_gshalo.f90)
76   366 (mpi2s_gshalo.f90)
77   367 (mpi2s_gshalo.f90)
78   369 (mpi2s_gshalo.f90)
79   467 (mpi2s_gshalo.f90)
80   477 (mpi2s_gshalo.f90)
81   477 (mpi2s_gshalo.f90)
82   485 (mpi2s_gshalo.f90)
83   485 (mpi2s_gshalo.f90)
84   489 (mpi2s_gshalo.f90)
85   490 (mpi2s_gshalo.f90)
86   518 (mpi2s_gshalo.f90)
87   625 (mpi2s_gshalo.f90)
88   626 (mpi2s_gshalo.f90)
89   634 (mpi2s_gshalo.f90)
90   76 (reductions.f90)
91   97 (reductions.f90)
92   184 (reductions.f90)
93   189 (reductions.f90)
94   206 (reductions.f90)
95   207 (reductions.f90)
96   247 (reductions.f90)
97   265 (reductions.f90)
98   266 (reductions.f90)
99   296 (reductions.f90)
100   298 (reductions.f90)
101   299 (reductions.f90)
102   130 (simple_domain.f90)
103   169 (simple_domain.f90)
104   315 (simple_domain.f90)
105   538 (simple_domain.f90)
106   120 (solvers.f90)
107   133 (solvers.f90)
108   218 (solvers.f90)
109   255 (solvers.f90)
110   256 (solvers.f90)
111   257 (solvers.f90)
112   258 (solvers.f90)
113   290 (solvers.f90)
114   293 (solvers.f90)
115   310 (solvers.f90)
116   449 (solvers.f90)
117   451 (solvers.f90)
118   454 (solvers.f90)
119   463 (solvers.f90)
120   465 (solvers.f90)
121   479 (solvers.f90)
122   485 (solvers.f90)
123   494 (solvers.f90)
124   495 (solvers.f90)
125   513 (solvers.f90)
126   514 (solvers.f90)
127   515 (solvers.f90)
128   518 (solvers.f90)
129   525 (solvers.f90)
130   528 (solvers.f90)
131   533 (solvers.f90)
132   550 (solvers.f90)
133   551 (solvers.f90)
134   552 (solvers.f90)
135   554 (solvers.f90)
136   555 (solvers.f90)
137   632 (timers.f90)


EVENT_TYPE
0    30000000    Sampled functions
0    30000001    Sampled functions (depth 1)
0    30000002    Sampled functions (depth 2)
0    30000003    Sampled functions (depth 3)
0    30000004    Sampled functions (depth 4)
0    30000005    Sampled functions (depth 5)
0    30000006    Sampled functions (depth 6)
VALUES
0   End
1   Unresolved
2   _NOT_Found
3   init_communicate
4   cgpop
5   get_num_procs
6   init_domain_blocks
7   broadcast_scalar_char
8   global_maxval_scalar_int
9   init_domain_distribution
10   broadcast_scalar_int
11   init_solvers
12   broadcast_scalar_log
13   read_tiles_dbl
14   read_solveriot
15   sio_close
16   initdof
17   linearfind
18   global_minval_scalar_int
19   global_sum_scalar_int
20   mpi2s_gshalo_init
21   linearorderedfind
22   mpi2s_gshalo_update_2d_int
23   mpi2s_gshalo_update_2d_dbl
24   update_halo
25   convertstencil
26   global_sum_scalar_dbl
27   pcg_chrongear_linear
28   global_sum_vector_dbl
29   matvec
30   esolver
31   convert2dtolinear
32   checkanswers
33   global_maxval_scalar_dbl
34   timer_print
35   exit_message_environment


EVENT_TYPE
0    30000100    Sampled line functions
0    30000101    Sampled lines functions (depth 1)
0    30000102    Sampled lines functions (depth 2)
0    30000103    Sampled lines functions (depth 3)
0    30000104    Sampled lines functions (depth 4)
0    30000105    Sampled lines functions (depth 5)
0    30000106    Sampled lines functions (depth 6)
VALUES
0   End
1   0 (Unresolved)
2   0 (_NOT_Found)
3   131 (broadcast.f90)
4   166 (broadcast.f90)
5   202 (broadcast.f90)
6   55 (cgpop.f90)
7   56 (cgpop.f90)
8   83 (cgpop.f90)
9   84 (cgpop.f90)
10   87 (cgpop.f90)
11   88 (cgpop.f90)
12   101 (cgpop.f90)
13   52 (check.f90)
14   71 (communicate.f90)
15   98 (communicate.f90)
16   115 (communicate.f90)
17   88 (io_serial.f90)
18   92 (io_serial.f90)
19   649 (io_serial.f90)
20   104 (linear.f90)
21   105 (linear.f90)
22   178 (linear.f90)
23   210 (linear.f90)
24   367 (linear.f90)
25   372 (linear.f90)
26   373 (linear.f90)
27   374 (linear.f90)
28   381 (linear.f90)
29   386 (linear.f90)
30   399 (linear.f90)
31   409 (linear.f90)
32   415 (linear.f90)
33   496 (linear.f90)
34   497 (linear.f90)
35   515 (linear.f90)
36   104 (matrix_mod.f90)
37   105 (matrix_mod.f90)
38   106 (matrix_mod.f90)
39   108 (matrix_mod.f90)
40   122 (matrix_mod.f90)
41   150 (matrix_mod.f90)
42   153 (matrix_mod.f90)
43   160 (matrix_mod.f90)
44   166 (matrix_mod.f90)
45   168 (matrix_mod.f90)
46   169 (matrix_mod.f90)
47   182 (matrix_mod.f90)
48   185 (matrix_mod.f90)
49   192 (matrix_mod.f90)
50   198 (matrix_mod.f90)
51   200 (matrix_mod.f90)
52   201 (matrix_mod.f90)
53   209 (matrix_mod.f90)
54   211 (matrix_mod.f90)
55   224 (matrix_mod.f90)
56   269 (matrix_mod.f90)
57   270 (matrix_mod.f90)
58   271 (matrix_mod.f90)
59   273 (matrix_mod.f90)
60   275 (matrix_mod.f90)
61   81 (mpi2s_gshalo.f90)
62   89 (mpi2s_gshalo.f90)
63   96 (mpi2s_gshalo.f90)
64   99 (mpi2s_gshalo.f90)
65   100 (mpi2s_gshalo.f90)
66   106 (mpi2s_gshalo.f90)
67   164 (mpi2s_gshalo.f90)
68   175 (mpi2s_gshalo.f90)
69   179 (mpi2s_gshalo.f90)
70   181 (mpi2s_gshalo.f90)
71   251 (mpi2s_gshalo.f90)
72   252 (mpi2s_gshalo.f90)
73   293 (mpi2s_gshalo.f90)
74   347 (mpi2s_gshalo.f90)
75   357 (mpi2s_gshalo.f90)
76   366 (mpi2s_gshalo.f90)
77   367 (mpi2s_gshalo.f90)
78   369 (mpi2s_gshalo.f90)
79   467 (mpi2s_gshalo.f90)
80   477 (mpi2s_gshalo.f90)
81   477 (mpi2s_gshalo.f90)
82   485 (mpi2s_gshalo.f90)
83   485 (mpi2s_gshalo.f90)
84   489 (mpi2s_gshalo.f90)
85   490 (mpi2s_gshalo.f90)
86   518 (mpi2s_gshalo.f90)
87   625 (mpi2s_gshalo.f90)
88   626 (mpi2s_gshalo.f90)
89   634 (mpi2s_gshalo.f90)
90   76 (reductions.f90)
91   97 (reductions.f90)
92   184 (reductions.f90)
93   189 (reductions.f90)
94   206 (reductions.f90)
95   207 (reductions.f90)
96   247 (reductions.f90)
97   265 (reductions.f90)
98   266 (reductions.f90)
99   296 (reductions.f90)
100   298 (reductions.f90)
101   299 (reductions.f90)
102   130 (simple_domain.f90)
103   169 (simple_domain.f90)
104   315 (simple_domain.f90)
105   538 (simple_domain.f90)
106   120 (solvers.f90)
107   133 (solvers.f90)
108   218 (solvers.f90)
109   255 (solvers.f90)
110   256 (solvers.f90)
111   257 (solvers.f90)
112   258 (solvers.f90)
113   290 (solvers.f90)
114   293 (solvers.f90)
115   310 (solvers.f90)
116   449 (solvers.f90)
117   451 (solvers.f90)
118   454 (solvers.f90)
119   463 (solvers.f90)
120   465 (solvers.f90)
121   479 (solvers.f90)
122   485 (solvers.f90)
123   494 (solvers.f90)
124   495 (solvers.f90)
125   513 (solvers.f90)
126   514 (solvers.f90)
127   515 (solvers.f90)
128   518 (solvers.f90)
129   525 (solvers.f90)
130   528 (solvers.f90)
131   533 (solvers.f90)
132   550 (solvers.f90)
133   551 (solvers.f90)
134   552 (solvers.f90)
135   554 (solvers.f90)
136   555 (solvers.f90)
137   632 (timers.f90)


EVENT_TYPE
9    40000018    Tracing mode:
VALUES
1      Detailed
2      CPU Bursts



EVENT_TYPE
9	90000001	Cluster ID
VALUES
0	End
1	Missing Data
2	Duration Filtered
3	Range Filtered
4	Threshold Filtered
5	Noise
1	Missing Data
2	Duration Filtered
3	Range Filtered
4	Threshold Filtered
5	Noise
6	Cluster 1
7	Cluster 2
8	Cluster 3
9	Cluster 4
10	Cluster 5
11	Cluster 6
